@import "function.less";
.text-success{
  color: @green;
}
/*
 * Component: Form
 * ---------------
 */
 .input-group{
  .input-group-btn .btn{
    color: @blue;
    i:before{
      opacity: 1;
      color: @blue;
    }
  }
  &.date{
    .input-group-addon{
      color: @blue;
    }
  }

 }
.input-group.in-title{
  .input-group-addon{
    padding-right: 0;
  }
  .form-control{
    border-left: 0;
  }
}
.has-success {
     label {color: @green; }
  .help-block ,.control-label{
      color: @green;
    }
    .form-control,.input-group-addon {
      border-color: @green;
      box-shadow: none;
    }
}
.has-warning {
    label {
      color: @orange;
    }
  .help-block,.control-label {
    color: @orange;
  }
  .form-control,.input-group-addon {
    border-color: @orange;
    box-shadow: none;
  }
}
.has-error {
      label {
      color: @red;
    }
    .help-block ,.control-label{
      color: @red;
    }
    .form-control,.input-group-addon {
      border-color: @red;
      box-shadow: none;
    }
}
/* Input group */
.input-group .input-group-addon {
  border-radius: 0;
  border-color: #d2d6de;
  background-color: #fff;
}

/*
 * Component: Small Box
 * --------------------
 */
/*
 * Component: Button
 * -----------------
 */
.btn {
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid transparent;
}
.btn.uppercase {
  text-transform: uppercase;
}
.btn.btn-flat {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}
.btn:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn:focus {
  outline: none;
}
.btn-underline{
  text-decoration: underline;
  color: @blue;
}
.btn.btn-file {
  position: relative;
  overflow: hidden;
}
.btn.btn-file > input[type='file'] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  opacity: 0;
  filter: alpha(opacity=0);
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.btn-default {
  background-color: #fff;
  color: #444;
  border-color: #ccc;
}
.btn-default:hover, .btn-default:active, .btn-default.hover {
  background-color: #fff;
  color: @blue;
  border-color: @blue;


}
.btn-primary {
      background: @blue;
                  border-color: @blue;
                  .transition;
      &:hover, &:active,&.hover,&:focus {
        border-color: @blue-dark;
        background: @blue-dark;
                    .transition;
      }
}
.btn-primary-line {
     color: @blue !important;
      background-color: #fff;
      border-color: @blue;
      &:hover, &:active,&.hover,&:focus {
         color: @orange !important;
          border-color: @orange;
          background-color: #fff;
      }
}
.btn-success {
  background-color: @green;
  border-color: #008d4c;
}
.btn-success:hover,
.btn-success:active,
.btn-success.hover {
  background-color: #008d4c;
}
.btn-info {
  background-color: #00c0ef;
  border-color: #00acd6;
}
.btn-info:hover,
.btn-info:active,
.btn-info.hover {
  background-color: #00acd6;
}
.btn-danger {
  background-color: @red;
  border-color: #d73925;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.hover {
  background-color: #d73925;
}
.btn-warning {
  background-color: @orange;
  border-color: #e08e0b;
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.hover {
  background-color: #e08e0b;
}
.btn-outline {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
  color: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, 0.7);
}
.btn-link {
      -webkit-box-shadow: none;
      box-shadow: none;
      /*color: @orange;
      &:hover{
          color:@red;
      }*/
}
.btn[class*='bg-']:hover {
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
}
.btn-app {
  border-radius: 3px;
  position: relative;
  padding: 15px 5px;
  margin: 0 0 10px 10px;
  min-width: 80px;
  height: 60px;
  text-align: center;
  color: #666;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  font-size: 12px;
}
.btn-app > .fa,
.btn-app > .glyphicon,
.btn-app > .ion {
  font-size: 20px;
  display: block;
}
.btn-app:hover {
  background: #f4f4f4;
  color: #444;
  border-color: #aaa;
}
.btn-app:active,
.btn-app:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-app > .badge {
  position: absolute;
  top: -3px;
  right: -10px;
  font-size: 10px;
  font-weight: 400;
}
.btn-group{
  label.btn.btn-default{
      color: @dark;
      i:before{
      color: @dark;
      }
    &.active{
      background: @blue;
      color: #fff;
      border-color: @blue;
      i:before{
        color: #fff;
      }
    }
  }
  .btn-sty{
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
  }
  &.bootstrap-select{
    .btn{
      .caret{
        border-top: 4px solid @blue;
      }
    }
  }
}
.well{
  background: #fff;
}
.input-group-lg  .form-control, .input-group-lg  .input-group-addon, .input-group-lg  .input-group-btn  .btn {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
}
.input-group-sm  .form-control, .input-group-sm  .input-group-addon, .input-group-sm  .input-group-btn  .btn {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
}
.modal.show .modal-dialog {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}
.modal-dialog-centered {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    /*min-height: calc(~"100% - (.5rem * 2)" );*/
    min-height: 100vh;
      .modal-content{
        width: 100%;
      }
    }
@media (min-width:576px) {
  .modal-dialog-centered {
      /*min-height: calc(~"100% - (1.75rem * 2)" );*/
      min-height: 100vh;
  }
}



.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

dt {
    font-weight: bolder;
}
dd{
    color: #777;
}
.list-group-item{
  a{
    color: @dark;
  }
  &.active a{
    color: #fff;
  }
}
a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}
/*Firefox 瀏覽器對 fieldset 元素設置了一些影響 width 屬性的樣式，導致響應式表格出現問題。可以使用下面提供的針對 Firefox 的 hack 代碼解決*/
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
/*SVG 圖像和 IE 8-10*/
.img-responsive{
   width: 100% \9;
}
/* /////////////// panel///////////// */
.panel{
  position: relative;
   .panel-title{
    font-size: 18px;
   }
   .panel-img{
    width: 100%;
  }
  .panel-img-top{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .panel-img-bottom{
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .panel-body{
    padding-bottom: 12px;
      .panel-title{
        margin-bottom: 5px;
      }
  }
  .panel-img-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding:15px 20px;
     .panel-title{
        margin-bottom: 5px;
      }
  }
}
.bg-primary,.bg-secondary,.bg-success,.bg-danger,.bg-warning,.bg-info,.bg-light,.bg-dark{
    border: 1px solid rgba(0,0,0,.15);
   .panel-heading{
    background: rgba(0,0,0,.05);
    border-bottom: 1px solid rgba(0,0,0,.15);
   }
}
.bg-primary{
  background: @blue !important;
  color: #fff !important;
}
.bg-secondary{
  background: #6c757d !important;
  color: #fff !important;
}
.bg-success{
  background: #28a745 !important;
  color: #fff !important;
}
.bg-danger{
  background: #dc3545 !important;
  color: #fff !important;
}
.bg-warning{
  background: @yellow !important;
  color: #fff !important;
}
.bg-info{
  background: #17a2b8 !important;
  color: #fff !important;
}
.bg-light{
  background: #f8f9fa !important;
  color: #000 !important;
}
.bg-dark{
  background: #343a40 !important;
  color: #fff !important;
}
/* /////////////// END panel///////////// */

/*手風琴*/
.panel-group{
    .panel+.panel{
        margin-top:-1px !important;
    }
        .panel {
                    border-color: rgba(0,0,0,.12);
                    margin-top:0;
                    border-radius: 0;
                    overflow: hidden;
                    >a{
                            height: auto;
                            position: relative;
                            padding: 0;
                            display: block;
                            line-height: 1em;
                            background: #fff;
                            padding: 15px;
                            display: block;
                            color: @blue;
                            text-decoration: none;
                            font-size: 16px;
                            /*border-left: 2px solid @blue;*/
                            border-bottom: 1px solid @line;
                            .transition;
                            i{
                                        font-size: 30px;
                                        /*color:@gray-dark;*/
                                        float: left;
                                        .transition;
                            }
                            &:hover{
                                  i{
                                      color:@white;
                                      .transition;
                                  }
                            }
                            &:before{
                              display: inline-block;
                              content: "";
                              position: absolute;
                              border:6px solid transparent;
                              border-left:6px solid @blue;
                              left: 0;
                              top: 50%;
                              margin-top: -6px;
                            }
                            &:after{
                              font-family: "icomoon";
                              content: '\e873';
                              position: absolute;
                              right: -10px;
                              top:50%;
                              margin-top: -8px;
                              margin-right: 20px;
                              /*color: rgba(255,255,255,.4);*/
                              color:@blue;
                              font-size: 13px;
                             a i{color:@gray;}
                              }
                              &.active{
                                  color:#fff;
                                  background: @gold;
                              }
                          &.collapsed {
                                  background: @white;
                                  /*border-left: 2px solid @light-gray;*/
                                  border-bottom: 1px solid transparent;
                                  color:#555;
                                  &:hover{
                                    color:@orange;
                                  }
                                  &:before{
                                    display: none;
                                  }
                                  &:after{
                                      content: "\e874";
                                      color:@gray;
                                  }
                          }
                          &.one-level{
                            background: #fff;
                            color: @dark;
                            line-height: 22px;
                            padding: 15px 10px 12px 15px;
                            &:after{display:none; }
                            &.active{
                                  color:#fff;
                                  background: @gold;
                              }
                               &:hover{
                                    color:@gold;
                                    background: @gold-white;
                                  }
                          }
                    }/*a*/
                .panel-body{
                            padding: 20px;
                            background: rgba(0,0,0,.015);
                }
                ul.panel-body{
                            padding: 10px;
                            li{
                              a{
                                display: block;
                                color: @dark;
                                padding: 5px 5px 5px 20px;
                                &:hover{
                                  text-decoration:none;
                                }
                              }
                              &.active{
                                a{
                                  color: @gold;
                                }
                              }
                            }
                }
        }
        .panel+.panel {margin-top: 0;}
}
/*END 手風琴*/
.nav-tabs{
  text-align: center;
  background: #fff;
  border:1px solid @line;
  border-radius: @radius;
    > li{
      display: inline-block;
      float: none;
      > a{
            color: #999;
             border:0  !important;
            border-bottom:0px solid @line !important;
            border-radius: 0;
            /*background: @line;*/
            &:hover{
              color: @blue;
              background:rgba(0,0,0,.05);
            }
        }
        &.active{
           >a{
                border:0  !important;
                border-bottom:1px solid @blue !important;
                color: @blue;
                background: #fff;
                &:hover,&:focus{
                    /*border-top:2px solid @blue !important;*/
                }
           }
        }
    }
}

  .affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
      &.nav-stacked{
        width: auto;
      }
  }
  .tooltip{
    display: block;
    &.top{
        .tooltip-arrow{
          border-color: transparent;
          border-top-color: @blue;
        }
    }
    &.bottom{
        .tooltip-arrow{
          border-bottom-color: @blue-dark;
        }
    }
    &.right{
        .tooltip-arrow{
          border-color: transparent;
          border-right-color: @blue;
        }
    }
    &.left{
        .tooltip-arrow{
          border-color: transparent;
          border-left-color: @blue;
        }
    }
    .tooltip-inner{
      background: @blue-dark;
    }
  }
/*
 * Component: Table
 * ----------------
 */
  table.table{
    thead{
        tr{
            th{
                background: @blue;
                color: #fff;
                font-weight: normal;
            }
        }
    }
    td,th{
        /*padding: 7px !important;*/
        text-align: center;
        vertical-align: middle !important;
        &.success{
          background: @blue !important;
          color: #fff;
        }
        &.lt{
          text-align: left;
        }
    }
    hr{
        border-top:1px solid rgba(255,255,255,.25);
        margin:3px 0;
    }
}

.table > thead > tr > th {
  border-bottom: 2px solid #f4f4f4;
}
.form-control{
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  font-size: 15px;
  background: #fff;
  -webkit-box-shadow: inset 0 0px 0px rgba(255,255,255,.0);
  box-shadow: inset 0 0px 0px rgba(255,255,255,.0);
}
.form-control:focus {
  border-color: @blue;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px @blue-light,0 0 8px @blue-light;
  box-shadow: inset 0 1px 1px @blue-light,0 0 8px @blue-light;
}

/* .text-center in tables */
.datepicker{
    &.form-control{
        padding: 6px 12px !important;
      }
      table.table thead tr th {
            border-radius: 0;
        &.dow{
            background: @blue-white;
            color: @blue-dark;
            font-weight: normal;
        }
        &.prev,&.next,&.datepicker-switch{
            background: @blue;
          &:hover{
            background: @blue-dark;
          }
        }
    }
    .table td{
      border-top: 0 !important;
      &.day.active{
        background: @blue;
      }
    }
    .datepicker-switch{
      &:after{
        content:"▼";
        display: inline-block;
        opacity: .5;
        margin-left: 3px;
        font-size: 80%;
      }
    }
}
/* * Component: Progress Bar * ----------------------- */
.progress,
.progress > .progress-bar {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.progress,
.progress > .progress-bar,
.progress .progress-bar,
.progress > .progress-bar .progress-bar {
  border-radius: 1px;
}
/* size variation */
.progress.sm,
.progress-sm {
  height: 10px;
}
.progress.sm,
.progress-sm,
.progress.sm .progress-bar,
.progress-sm .progress-bar {
  border-radius: 1px;
}
.progress.xs,
.progress-xs {
  height: 7px;
}
.progress.xs,
.progress-xs,
.progress.xs .progress-bar,
.progress-xs .progress-bar {
  border-radius: 1px;
}
.progress.xxs,
.progress-xxs {
  height: 3px;
}
.progress.xxs,
.progress-xxs,
.progress.xxs .progress-bar,
.progress-xxs .progress-bar {
  border-radius: 1px;
}
/* Vertical bars */
.progress.vertical {
  position: relative;
  width: 30px;
  height: 200px;
  display: inline-block;
  margin-right: 10px;
}
.progress.vertical > .progress-bar {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.progress.vertical.sm,
.progress.vertical.progress-sm {
  width: 20px;
}
.progress.vertical.xs,
.progress.vertical.progress-xs {
  width: 10px;
}
.progress.vertical.xxs,
.progress.vertical.progress-xxs {
  width: 3px;
}
.progress-group .progress-text {
  font-weight: 600;
}
.progress-group .progress-number {
  float: right;
}
/* Remove margins from progress bars when put in a table */
.table tr > td .progress {
  margin: 0;
}
.selectpicker{
  .check-mark{
    font-family: "icomoon";
    &:before{
        content: "\e904";
    }
  }
}

/*
 * Component: modal
 * ----------------
 */
.modal {
  background: rgba(0, 0, 0, 0.3);
}
.modal-content {
  border-radius: 0;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
  border: 0;
  width: 100%;
}

.modal-header {
  border-bottom-color: rgba(5,56,122,.1);
  .gradient(#fff,@blue-white);
  color: @blue-dark;
}
.modal-footer {
  border-top-color: #f4f4f4;
}
.modal-primary .modal-header,
.modal-primary .modal-footer {
  border-color: #307095;
}
.modal-warning .modal-header,
.modal-warning .modal-footer {
  border-color: #c87f0a;
}
.modal-info .modal-header,
.modal-info .modal-footer {
  border-color: #0097bc;
}
.modal-success .modal-header,
.modal-success .modal-footer {
  border-color: #00733e;
}
.modal-danger .modal-header,
.modal-danger .modal-footer {
  border-color: #c23321;
}
/*
 * Component: alert
 * ----------------
 */
 .pop-alert{
    position: fixed;
    /*display: none;*/
    /*opacity: 0;*/
    z-index: 9;
    top: 50px;
    right: 50px;
 }
.alert {
    border-radius: 3px;
    .close {
      color: #000;
      opacity: 0.2;
      &:hover {
          opacity: 0.5;
        }
    }
    a {
      color: #fff;
      text-decoration: underline;
    }
}

.alert-success {
  border-color: @green;
}
.alert-danger,
.alert-error {
  border-color: #d73925;
}
.alert-warning {
  border-color: #e08e0b;
}
.alert-info {
  border-color: #00acd6;
}

.alert-success, .alert-danger, .alert-error, .alert-warning, .alert-info, .label-danger, .label-info, .label-warning, .label-primary, .label-success, .modal-primary .modal-body, .modal-primary .modal-header, .modal-primary .modal-footer, .modal-warning .modal-body, .modal-warning .modal-header, .modal-warning .modal-footer, .modal-info .modal-body, .modal-info .modal-header, .modal-info .modal-footer, .modal-success .modal-body, .modal-success .modal-header, .modal-success .modal-footer, .modal-danger .modal-body, .modal-danger .modal-header, .modal-danger .modal-footer {color: #fff !important;
}

.alert-danger,
.alert-error,
.label-danger,
.modal-danger .modal-body {
  background-color: #dd4b39 !important;
}

.alert-warning,
.label-warning,
.modal-warning .modal-body {
  background-color: @orange !important;
}

.alert-info,
.label-info,
.modal-info .modal-body {
  background-color: #00c0ef !important;
}


.label-primary,
.modal-primary .modal-body {
  background-color: #3c8dbc !important;
}

.alert-success,
.label-success,
.modal-success .modal-body {
  background-color: @green !important;
}
.bg-navy {
  background-color: #001f3f !important;
}
.bg-teal {
  background-color: #39cccc !important;
}
.bg-olive {
  background-color: #3d9970 !important;
}
.bg-lime {
  background-color: #01ff70 !important;
}
.bg-orange {
  background-color: #ff851b !important;
}
.bg-fuchsia {
  background-color: #f012be !important;
}
.bg-purple {
  background-color: #605ca8 !important;
}
.bg-maroon {
  background-color: #d81b60 !important;
}
.bg-gray-active {
  color: #000;
  background-color: #b5bbc8 !important;
}
.bg-black-active {
  background-color: #000000 !important;
}
.bg-red-active,
.modal-danger .modal-header,
.modal-danger .modal-footer {
  background-color: #d33724 !important;
}
.bg-yellow-active,
.modal-warning .modal-header,
.modal-warning .modal-footer {
  background-color: #db8b0b !important;
}
.modal-info .modal-header,
.modal-info .modal-footer {
  background-color: #00a7d0 !important;
}

.bg-light-blue-active,
.modal-primary .modal-header,
.modal-primary .modal-footer {
  background-color: #357ca5 !important;
}
.modal-success .modal-header,
.modal-success .modal-footer {
  background-color: #008d4c !important;
}

.panel.panel-default{
    .panel-heading{
      background: #fff;
      font-size: 18px;
      border-bottom: 0;
      padding-bottom: 0;
       border-top-left-radius: @radius;
border-top-right-radius: @radius;
    }
    .panel-footer{
      background: #fff;
      border-top: 0;
      padding-top: 0;
    }
}