@import "function.less";

/*MIN*/
@media (min-width:768px) {
    .container,.main-container {width: 100%; }
}/*min-width:768px*/

@media (min-width:992px) {
    .container,.main-container {width: 100%; }
    .modal-xlg {width: 95%; }
}/*min-width:992px*/


@media (min-width:1200px) {
  .container,.main-container {
        width: 100%; max-width: 1360px;
    }
     .container.for-login{
        max-width: 950px
     }
}/*min-width:1200px*/
/*MAX*/
@media(max-width: 1200px){
ul.intro-list li a i {top: 10%; }
ul.intro-list li a p{font-size: 16px;}
}
@media(max-width: 1040px){
.main-container.side-menu-close #right-content{width: 96%;}
}
@media(max-width: 992px){
    .log-announce{border-radius: 0;}
    .login-area{padding-bottom: 0;}
    .login-area .announce-right .news-in {
        padding: 15px 0;
    }
    .login-area .announce-right h2 .more {
        margin-top: 0px;
        margin-right: 0px;
    }
    .log-announce>.row,.login-area .log-content,.login-area .announce-right{
        display: block;
    }
    .log-content,.announce-right{
        padding: 0 25px;
    }
    .login-content{
        padding: 20px 0px;
    margin-bottom: 0px
    }
    .has-rwd{
        .header{
            position: fixed;
            top: 0;
            height: 46px;
            -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
            box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
             .logo {
                width: 42px;
                height: 28px;
                margin-top: 8px;
            }
            .header-tit .vendor-title{
                font-size: 14px;
                margin-top: 0px;
                line-height: 17px;
            }
             ul.top-nav{
                margin-top: 0px;
                margin-right: 33px;
                >li{
                    padding: 0px;
                    float: left;
                    >a{
                        background: transparent;
                        border-left: 1px solid rgba(255,255,255,.3);
                        border-radius: 0;
                        height: 45px;
                        width: 45px;
                        i{line-height: 50px;}
                    }
                }
            }
            span.wellcom{margin: 12px 15px 0 0;}
            .mobile-menu-toggle{
                display: inline-block;
           /*     position: fixed;
                top: 0;
                right: 0;*/
                z-index: 9999;
                position: absolute;
                right: 0;
                top: 0;
                a{
                    background: rgba(0,0,0,.3);
                    display: block;
                    text-align: center;
                    line-height: 45px;
                    margin: 0;
                    height: 45px;
                    width: 45px;
                    color: #fff;
                }
                &:before{display:none;}
            }
           
        }
        .side-memu-toggle{display: none;}

    
    
    .main-container{
        min-width: 100%;
        max-width: 100%;
        padding-top: 45px;
        border:0;
        &:before{
            width: 50.2%;
        }
        &.side-menu-close{
             .side-menu-hold{
                left: -@side-width;
                margin-left: 0;
             }
             #right-content{
                    /*width: ~"calc(100% - 50.2%) ";*/
                    width: 100%;
                    left: 0px;
                    -webkit-filter:blur(0px);

                }
        }
        #right-content{
                left: @side-width;
                width: 100%;
                margin-left: 0;
                &.right-content-act{
                    opacity: .2;
                    -webkit-filter:blur(3px);
                }
                .content{padding: 0;}
            }
        .side-menu-hold{
            position: fixed;
            width: @side-width;
            left: 0px;
            top: -17px;
            height: 90vh;
            overflow-y: auto;
            .side-menu-title{
                span{display: none;}
            }
            &::before {
                left: 0;
                width: 100%;
            }
        }
    }
    .breadcrumb-hold{
        padding: 0;
    }
    footer{
        max-width: 100%;
        border:0;
    }
    .breadcrumb-hold .breadcrumb{margin-left: 0; padding-left: 0;}

    }/*has-rwd*/
    .login-warp.has-rwd .login-content{
        width: 100%;
        min-width: 100%;
        .login-left-img{
            display: none;
        }
        .right-form{
            width: 100%;
        }
    }
.login-warp .copyright{
    width: 100%;
    left: 0;
    bottom: 0;
    background: #fff;
    /*position: relative;*/
}
}/*max-width: 992px*/


 @media(max-width: 768px) {
    .news-in{
        padding-bottom: 30px !important;
    }
 .xs-ct{text-align: center !important;}
   .has-rwd .header span.wellcom{display: none;}
   .main-container{
    padding: 0 15px;
   }
   .overview{
    padding: 0 15px !important;
    margin-bottom: 15px;
      li{
        padding-right: 0px !important;
        padding-left: 0px !important;
        a{
            margin-bottom: 0px;
            border-radius: 0;
            padding: 10px;
            height: 40px;
            i{
                position: relative;
                float: left;
                right: 0;
                top: 0px;
                font-size: 20px;
            }
            h3{
                float: left;
                font-size: 15px;
                    margin: 2px 0 0 8px;
            }
            .num{
                font-size: 20px;
                float: right;
                margin-top: -6px;
            }
        }
      }
   }
   .Inquiry .panel,.fuc-block{
    margin-bottom: 15px;
   }
   ul.product-list li a{
    margin-bottom: 5px;
    img{
        width: 76px;
        height: 76px;
        float: left;
    }
    .info{
        float: left;
    }
   }
   ul.btn-table-list{
    margin-right: -15px;
    margin-left: -15px;
   }
   ul.btn-table-list li{
    margin-bottom: 0;
    margin-top: -1px;
            a{
                    padding: 10px 15px;
                    border-radius: 0;
                    -webkit-box-shadow: 2px 2px 6px 0 rgba(0,0,0,0);
                    box-shadow: 2px 2px 6px 0 rgba(0,0,0,0);
                    border:1px solid @line;
                    font-size: 16px;
                    text-align: left;
                    &:before{
                        display:inline-block;
                        font-family: "icomoon";
                        content: "\e876";
                        font-size: 15px;
                        color: #aaa;
                        position: absolute;
                        top: 10px;
                        right: 10px;
                    }
                    span{
                        text-align: left;
                        position: relative;
                        border-radius: 0;
                        -webkit-box-shadow: inset 0 0 30px 0 rgba(0,0,0,0);
                    box-shadow: inset 0 0 30px 0 rgba(0,0,0,0);
                    .flex-center-left;
                        &:before,&:after{display:none;}
                        br{
                            display: none;
                        }
                    }
                    &:hover{
                         .scale(1);
                         background: @blue-dark;
                         color: #fff;
                         span{
                            color: #fff;
                         }
                    }
           }
   }
 } 
 /*max-width: 768px*/
   @media(max-width: 767px) {
    .table-responsive.has-foot{
        position: relative;
        padding: 0;
        margin-bottom: 70px;
        .paginator{
            position: fixed;
            /*bottom: 53px;*/
            left: 0px;
        }
    }
  }
 /*max-width: 767px*/
 @media(max-width: 540px) {
    .has-rwd .header .header-tit .vendor-title{display: none;}
    .login-warp .login-content .right-form {
            padding: 30px;
        }
        .login-warp .login-content .right-form .login-logo {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.trans_info{
        display: block;
        padding: 20px;
        .status{
            display: block;
            border:0;
            padding: 0;
            width: 100%;
            margin-bottom: 20px;
        }
        .info{
            display: block;
            padding: 0;
        }
    }
 }
 /*max-width: 540px*/
 @media(max-width: 450px) {
    .login-warp {
        display: block;

    .login-content .right-form{
        padding: 30px;
    }
    }
    .app-demo{
        width: 100%;
        height: auto;
    }
    .main-title{
        height: 55px;
        .btn-group.bootstrap-select{
    margin-top: 13px;
        }
    }
 }
  /*max-width: 414px*/
  @media(max-width: 375px) {
 }
   /*max-width: 375px*/
 @media(max-width: 320px) {
 }
   /*max-width: 320px*/










