/*color*/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
.flex-center {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  /*水平置中*/
  justify-content: center;
  -webkit-justify-content: center;
}
.row-flex {
  display: flex;
  flex-wrap: wrap;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}
.font {
  font-family: Helvetica, Arial, "微軟正黑體", sans-serif;
}
.text-success {
  color: #008d4c;
}
/*
 * Component: Form
 * ---------------
 */
.has-success label {
  color: #008d4c;
}
.has-success .help-block,
.has-success .control-label {
  color: #008d4c;
}
.has-success .form-control,
.has-success .input-group-addon {
  border-color: #008d4c;
  box-shadow: none;
}
.has-warning label {
  color: #f39801;
}
.has-warning .help-block,
.has-warning .control-label {
  color: #f39801;
}
.has-warning .form-control,
.has-warning .input-group-addon {
  border-color: #f39801;
  box-shadow: none;
}
.has-error label {
  color: #f10038;
}
.has-error .help-block,
.has-error .control-label {
  color: #f10038;
}
.has-error .form-control,
.has-error .input-group-addon {
  border-color: #f10038;
  box-shadow: none;
}
/* Input group */
.input-group .input-group-addon {
  border-radius: 0;
  border-color: #d2d6de;
  background-color: #fff;
}
/*
 * Component: Small Box
 * --------------------
 */
/*
 * Component: Button
 * -----------------
 */
.btn {
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid transparent;
}
.btn.uppercase {
  text-transform: uppercase;
}
.btn.btn-flat {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}
.btn:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn:focus {
  outline: none;
}
.btn-underline {
  text-decoration: underline;
  color: #0076cd;
}
.btn.btn-file {
  position: relative;
  overflow: hidden;
}
.btn.btn-file > input[type='file'] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  opacity: 0;
  filter: alpha(opacity=0);
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.btn-default {
  background-color: #fff;
  color: #444;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:active,
.btn-default.hover {
  background-color: #eee;
}
.btn-primary {
  background: #0076cd;
  border: 0;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover,
.btn-primary:focus {
  border: 0;
  background: #003680;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.btn-primary-line {
  color: #0076cd;
  background-color: #fff;
  border-color: #0076cd;
}
.btn-primary-line:hover,
.btn-primary-line:active,
.btn-primary-line.hover,
.btn-primary-line:focus {
  color: #003680;
  border-color: #003680;
  background-color: #fff;
}
.btn-success {
  background-color: #008d4c;
  border-color: #008d4c;
}
.btn-success:hover,
.btn-success:active,
.btn-success.hover {
  background-color: #008d4c;
}
.btn-info {
  background-color: #00c0ef;
  border-color: #00acd6;
}
.btn-info:hover,
.btn-info:active,
.btn-info.hover {
  background-color: #00acd6;
}
.btn-danger {
  background-color: #f10038;
  border-color: #d73925;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.hover {
  background-color: #d73925;
}
.btn-warning {
  background-color: #f39801;
  border-color: #e08e0b;
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.hover {
  background-color: #e08e0b;
}
.btn-outline {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
  color: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, 0.7);
}
.btn-link {
  -webkit-box-shadow: none;
  box-shadow: none;
  /*color: @orange;
      &:hover{
          color:@red;
      }*/
}
.btn[class*='bg-']:hover {
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
}
.btn-app {
  border-radius: 3px;
  position: relative;
  padding: 15px 5px;
  margin: 0 0 10px 10px;
  min-width: 80px;
  height: 60px;
  text-align: center;
  color: #666;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  font-size: 12px;
}
.btn-app > .fa,
.btn-app > .glyphicon,
.btn-app > .ion {
  font-size: 20px;
  display: block;
}
.btn-app:hover {
  background: #f4f4f4;
  color: #444;
  border-color: #aaa;
}
.btn-app:active,
.btn-app:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-app > .badge {
  position: absolute;
  top: -3px;
  right: -10px;
  font-size: 10px;
  font-weight: 400;
}
.btn-group label.btn.btn-default.active {
  background: #0076cd;
  color: #fff;
  border-color: #0076cd;
}
.well {
  background: #fff;
}
.input-group-lg .form-control,
.input-group-lg .input-group-addon,
.input-group-lg .input-group-btn .btn {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.input-group-sm .form-control,
.input-group-sm .input-group-addon,
.input-group-sm .input-group-btn .btn {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.modal.show .modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.modal-dialog-centered .modal-content {
  width: 100%;
}
@media (min-width: 576px) {
  .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
dt {
  font-weight: bolder;
}
dd {
  color: #777;
}
.list-group-item a {
  color: #333333;
}
.list-group-item.active a {
  color: #fff;
}
a.list-group-item:focus,
a.list-group-item:hover,
button.list-group-item:focus,
button.list-group-item:hover {
  color: #555;
  text-decoration: none;
  background-color: #f5f5f5;
}
/*Firefox 瀏覽器對 fieldset 元素設置了一些影響 width 屬性的樣式，導致響應式表格出現問題。可以使用下面提供的針對 Firefox 的 hack 代碼解決*/
@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}
/*SVG 圖像和 IE 8-10*/
.img-responsive {
  width: 100% \9;
}
/* /////////////// panel///////////// */
.panel {
  position: relative;
}
.panel .panel-title {
  font-size: 18px;
}
.panel .panel-img {
  width: 100%;
}
.panel .panel-img-top {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.panel .panel-img-bottom {
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.panel .panel-body {
  padding-bottom: 12px;
}
.panel .panel-body .panel-title {
  margin-bottom: 5px;
}
.panel .panel-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px 20px;
}
.panel .panel-img-overlay .panel-title {
  margin-bottom: 5px;
}
.bg-primary,
.bg-secondary,
.bg-success,
.bg-danger,
.bg-warning,
.bg-info,
.bg-light,
.bg-dark {
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.bg-primary .panel-heading,
.bg-secondary .panel-heading,
.bg-success .panel-heading,
.bg-danger .panel-heading,
.bg-warning .panel-heading,
.bg-info .panel-heading,
.bg-light .panel-heading,
.bg-dark .panel-heading {
  background: rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.bg-primary {
  background: #0076cd !important;
  color: #fff !important;
}
.bg-secondary {
  background: #6c757d !important;
  color: #fff !important;
}
.bg-success {
  background: #28a745 !important;
  color: #fff !important;
}
.bg-danger {
  background: #dc3545 !important;
  color: #fff !important;
}
.bg-warning {
  background: #ffc107 !important;
  color: #fff !important;
}
.bg-info {
  background: #17a2b8 !important;
  color: #fff !important;
}
.bg-light {
  background: #f8f9fa !important;
  color: #000 !important;
}
.bg-dark {
  background: #343a40 !important;
  color: #fff !important;
}
/* /////////////// END panel///////////// */
/*手風琴*/
.panel-group .panel + .panel {
  margin-top: -1px !important;
}
.panel-group .panel {
  border-color: rgba(0, 0, 0, 0.12);
  margin-top: 0;
  border-radius: 0;
  overflow: hidden;
  /*a*/
}
.panel-group .panel > a {
  height: auto;
  position: relative;
  padding: 0;
  line-height: 1em;
  background: #a38f6a;
  padding: 15px;
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.panel-group .panel > a i {
  font-size: 30px;
  /*color:@gray-dark;*/
  float: left;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.panel-group .panel > a:hover i {
  color: #ffffff;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.panel-group .panel > a:after {
  font-family: "icomoon";
  content: '\e873';
  position: absolute;
  right: -10px;
  top: 50%;
  margin-top: -8px;
  margin-right: 20px;
  /*color: rgba(255,255,255,.4);*/
  color: #fff;
  font-size: 13px;
}
.panel-group .panel > a:after a i {
  color: #afafaf;
}
.panel-group .panel > a.active {
  color: #fff;
  background: #a38f6a;
}
.panel-group .panel > a.collapsed {
  background: #ffffff;
  color: #333333;
}
.panel-group .panel > a.collapsed:hover {
  color: #a38f6a;
}
.panel-group .panel > a.collapsed:after {
  content: "\e874";
  color: #afafaf;
}
.panel-group .panel > a.one-level {
  background: #fff;
  color: #333333;
  line-height: 22px;
  padding: 15px 10px 12px 15px;
}
.panel-group .panel > a.one-level:after {
  display: none;
}
.panel-group .panel > a.one-level.active {
  color: #fff;
  background: #a38f6a;
}
.panel-group .panel > a.one-level:hover {
  color: #a38f6a;
  background: #f4ece1;
}
.panel-group .panel .panel-body {
  padding: 10px;
  background: rgba(0, 0, 0, 0.015);
}
.panel-group .panel ul.panel-body {
  padding: 10px;
}
.panel-group .panel ul.panel-body li a {
  display: block;
  color: #333333;
  font-size: 14px;
  padding: 5px 5px 5px 20px;
}
.panel-group .panel ul.panel-body li a:hover {
  text-decoration: none;
}
.panel-group .panel ul.panel-body li.active a {
  color: #a38f6a;
}
.panel-group .panel + .panel {
  margin-top: 0;
}
/*END 手風琴*/
.nav-tabs > li > a {
  color: #999;
  border: 0  !important;
  border-bottom: 1px solid #dddddd !important;
  /*background: @line;*/
}
.nav-tabs > li > a:hover {
  color: #003680;
  background: rgba(5, 56, 122, 0.07);
}
.nav-tabs > li.active > a {
  border: 0  !important;
  border-bottom: 1px solid #0076cd !important;
  color: #003680;
  background-color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(rgba(5, 56, 122, 0.07)));
  background: -webkit-linear-gradient(top, #ffffff, rgba(5, 56, 122, 0.07));
  background: -moz-linear-gradient(top, #ffffff, rgba(5, 56, 122, 0.07));
  background: -ms-linear-gradient(top, #ffffff, rgba(5, 56, 122, 0.07));
  background: -o-linear-gradient(top, #ffffff, rgba(5, 56, 122, 0.07));
}
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  /*border-top:2px solid @blue !important;*/
}
.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}
.affix.nav-stacked {
  width: auto;
}
.tooltip {
  display: block;
}
.tooltip.top .tooltip-arrow {
  border-color: transparent;
  border-top-color: #0076cd;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #0076cd;
}
.tooltip.right .tooltip-arrow {
  border-color: transparent;
  border-right-color: #0076cd;
}
.tooltip.left .tooltip-arrow {
  border-color: transparent;
  border-left-color: #0076cd;
}
.tooltip .tooltip-inner {
  background: #0076cd;
}
/*
 * Component: Table
 * ----------------
 */
table.table thead tr th {
  background: #0076cd;
  color: #fff;
  font-weight: normal;
}
table.table td,
table.table th {
  /*padding: 7px !important;*/
  text-align: center;
  vertical-align: middle !important;
}
table.table td.success,
table.table th.success {
  background: #0076cd !important;
  color: #fff;
}
table.table td.lt,
table.table th.lt {
  text-align: left;
}
table.table hr {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  margin: 3px 0;
}
.table > thead > tr > th {
  border-bottom: 2px solid #f4f4f4;
}
.form-control {
  font-size: 1.5rem;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}
.form-control:focus {
  border-color: #ddd1bb;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px #79bfff, 0 0 8px #79bfff;
  box-shadow: inset 0 1px 1px #79bfff, 0 0 8px #79bfff;
}
/* .text-center in tables */
.datepicker.form-control {
  padding: 6px 12px !important;
}
.datepicker table.table thead tr th {
  border-radius: 0;
}
.datepicker table.table thead tr th.dow {
  background: rgba(5, 56, 122, 0.07);
  color: #003680;
  font-weight: normal;
}
.datepicker table.table thead tr th.prev,
.datepicker table.table thead tr th.next,
.datepicker table.table thead tr th.datepicker-switch {
  background: #0076cd;
}
.datepicker table.table thead tr th.prev:hover,
.datepicker table.table thead tr th.next:hover,
.datepicker table.table thead tr th.datepicker-switch:hover {
  background: #003680;
}
.datepicker .table td {
  border-top: 0 !important;
}
.datepicker .table td.day.active {
  background: #0076cd;
}
.datepicker .datepicker-switch:after {
  content: "▼";
  display: inline-block;
  opacity: .5;
  margin-left: 3px;
  font-size: 80%;
}
/* * Component: Progress Bar * ----------------------- */
.progress,
.progress > .progress-bar {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.progress,
.progress > .progress-bar,
.progress .progress-bar,
.progress > .progress-bar .progress-bar {
  border-radius: 1px;
}
/* size variation */
.progress.sm,
.progress-sm {
  height: 10px;
}
.progress.sm,
.progress-sm,
.progress.sm .progress-bar,
.progress-sm .progress-bar {
  border-radius: 1px;
}
.progress.xs,
.progress-xs {
  height: 7px;
}
.progress.xs,
.progress-xs,
.progress.xs .progress-bar,
.progress-xs .progress-bar {
  border-radius: 1px;
}
.progress.xxs,
.progress-xxs {
  height: 3px;
}
.progress.xxs,
.progress-xxs,
.progress.xxs .progress-bar,
.progress-xxs .progress-bar {
  border-radius: 1px;
}
/* Vertical bars */
.progress.vertical {
  position: relative;
  width: 30px;
  height: 200px;
  display: inline-block;
  margin-right: 10px;
}
.progress.vertical > .progress-bar {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.progress.vertical.sm,
.progress.vertical.progress-sm {
  width: 20px;
}
.progress.vertical.xs,
.progress.vertical.progress-xs {
  width: 10px;
}
.progress.vertical.xxs,
.progress.vertical.progress-xxs {
  width: 3px;
}
.progress-group .progress-text {
  font-weight: 600;
}
.progress-group .progress-number {
  float: right;
}
/* Remove margins from progress bars when put in a table */
.table tr > td .progress {
  margin: 0;
}
.selectpicker .check-mark {
  font-family: "icomoon";
}
.selectpicker .check-mark:before {
  content: "\e904";
}
/*
 * Component: modal
 * ----------------
 */
.modal {
  background: rgba(0, 0, 0, 0.3);
}
.modal-content {
  border-radius: 0;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
  border: 0;
  width: 100%;
}
.modal-lg {
  width: 990px;
}
.modal-header {
  border-bottom-color: rgba(5, 56, 122, 0.1);
  background-color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(rgba(0, 54, 128, 0.2)));
  background: -webkit-linear-gradient(top, #ffffff, rgba(0, 54, 128, 0.2));
  background: -moz-linear-gradient(top, #ffffff, rgba(0, 54, 128, 0.2));
  background: -ms-linear-gradient(top, #ffffff, rgba(0, 54, 128, 0.2));
  background: -o-linear-gradient(top, #ffffff, rgba(0, 54, 128, 0.2));
  color: #003680;
}
.modal-footer {
  border-top-color: #f4f4f4;
}
.modal-primary .modal-header,
.modal-primary .modal-footer {
  border-color: #307095;
}
.modal-warning .modal-header,
.modal-warning .modal-footer {
  border-color: #c87f0a;
}
.modal-info .modal-header,
.modal-info .modal-footer {
  border-color: #0097bc;
}
.modal-success .modal-header,
.modal-success .modal-footer {
  border-color: #00733e;
}
.modal-danger .modal-header,
.modal-danger .modal-footer {
  border-color: #c23321;
}
/*
 * Component: alert
 * ----------------
 */
.pop-alert {
  position: fixed;
  /*display: none;*/
  /*opacity: 0;*/
  z-index: 9;
  top: 50px;
  right: 50px;
}
.alert {
  border-radius: 3px;
}
.alert .close {
  color: #000;
  opacity: 0.2;
}
.alert .close:hover {
  opacity: 0.5;
}
.alert a {
  color: #fff;
  text-decoration: underline;
}
.alert-success {
  border-color: #008d4c;
}
.alert-danger,
.alert-error {
  border-color: #d73925;
}
.alert-warning {
  border-color: #e08e0b;
}
.alert-info {
  border-color: #00acd6;
}
.alert-success,
.alert-danger,
.alert-error,
.alert-warning,
.alert-info,
.label-danger,
.label-info,
.label-warning,
.label-primary,
.label-success,
.modal-primary .modal-body,
.modal-primary .modal-header,
.modal-primary .modal-footer,
.modal-warning .modal-body,
.modal-warning .modal-header,
.modal-warning .modal-footer,
.modal-info .modal-body,
.modal-info .modal-header,
.modal-info .modal-footer,
.modal-success .modal-body,
.modal-success .modal-header,
.modal-success .modal-footer,
.modal-danger .modal-body,
.modal-danger .modal-header,
.modal-danger .modal-footer {
  color: #fff !important;
}
.alert-danger,
.alert-error,
.label-danger,
.modal-danger .modal-body {
  background-color: #dd4b39 !important;
}
.alert-warning,
.label-warning,
.modal-warning .modal-body {
  background-color: #f39801 !important;
}
.alert-info,
.label-info,
.modal-info .modal-body {
  background-color: #00c0ef !important;
}
.label-primary,
.modal-primary .modal-body {
  background-color: #3c8dbc !important;
}
.alert-success,
.label-success,
.modal-success .modal-body {
  background-color: #008d4c !important;
}
.bg-navy {
  background-color: #001f3f !important;
}
.bg-teal {
  background-color: #39cccc !important;
}
.bg-olive {
  background-color: #3d9970 !important;
}
.bg-lime {
  background-color: #01ff70 !important;
}
.bg-orange {
  background-color: #ff851b !important;
}
.bg-fuchsia {
  background-color: #f012be !important;
}
.bg-purple {
  background-color: #605ca8 !important;
}
.bg-maroon {
  background-color: #d81b60 !important;
}
.bg-gray-active {
  color: #000;
  background-color: #b5bbc8 !important;
}
.bg-black-active {
  background-color: #000000 !important;
}
.bg-red-active,
.modal-danger .modal-header,
.modal-danger .modal-footer {
  background-color: #d33724 !important;
}
.bg-yellow-active,
.modal-warning .modal-header,
.modal-warning .modal-footer {
  background-color: #db8b0b !important;
}
.modal-info .modal-header,
.modal-info .modal-footer {
  background-color: #00a7d0 !important;
}
.bg-light-blue-active,
.modal-primary .modal-header,
.modal-primary .modal-footer {
  background-color: #357ca5 !important;
}
.modal-success .modal-header,
.modal-success .modal-footer {
  background-color: #008d4c !important;
}
