﻿
@{
	Layout = null;
}
<!doctype html>
<html lang="zh-Hant">
<head>
@Html.Partial("_Includes")

<style>

	.login-section {
		box-shadow: 0 1px 2px 1px rgba(0,0,0,.08), 0 3px 6px rgba(0,0,0,.08);
		max-width: 400px;
		background-color: #fff;
		margin: 0 auto 4.5em;
		border-radius: 5px;
		/*margin-top: 20px;*/
		padding: 20px;
	}

	.fieldlist {
		margin: 0 0;
		padding: 0;
	}

		.fieldlist label {
			display: block;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 14px;
			color: #444;
			margin-top: 8px;
			margin-bottom: -1px;
		}

	body, h1, h2, h3, h4, p, ul, li, a, button {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.k-primary {
		border-color: #007979;
		background-color: #007979;
	}

	.table-tit {
		margin-top: 10px;
		margin-bottom: -5px;
	}

	.kendo-select {
		width: 100%;
	}

</style>

</head>
<body>

	<div style="text-align: center; padding: 10px;">
		<h1>
			Intelligent Collection Platform
		</h1>
	</div>

	<div class="login-section">
		<ul class="fieldlist">
			<li style="text-align:center;">
				<h4>使用者登入</h4>
			</li>
			<li>
				<h2 class="table-tit"><span>LDAP</span></h2>
			</li>
			<li>
				<label for="UserNameLDAP">帳號</label>
				<input id="UserNameLDAP" type="text" class="k-textbox" style="width: 100%;">
			</li>
			<li>
				<label for="StextLDAP">密碼</label>
				<input id="StextLDAP" type="text" class="k-textbox" style="width: 100%;">
			</li>
			<li>
				<h2 class="table-tit"><span>RCAF</span></h2>
			</li>
			<li>
				<label for="UserNameRCAF">帳號</label>
				<input id="UserNameRCAF" type="text" class="k-textbox" style="width: 100%;">
			</li>
			<li>
				<label for="StextRCAF">密碼</label>
				<input id="StextRCAF" type="text" class="k-textbox" style="width: 100%;">
			</li>
			<li>
				<label for="BranchRCAF">分行別</label>
				<input id="BranchRCAF" type="text" class="k-textbox" style="width: 100%;">
			</li>
			<li>
				<label for="WorkOption">工作選項</label>
				<select id="WorkOption" class="kendo-select">
					<option selected="selected" value="1">Individual Queue</option>
					<option value="2">Sharework Queue</option>
				</select>
			</li>
			<li>
				<label for="Platform">工作平台</label>
				<select id="Platform" class="kendo-select">
					<option selected="selected" value="loc1">前台</option>
					<option value="loc2">後台</option>
				</select>
			</li>
			<li>
				<div style="text-align:right; margin-top:20px;">
					<button class="k-button" onclick="doClear()">清除</button>
					&nbsp;
					<button class="k-button k-primary" onclick="login()"><i class="fa fa-sign-in-alt"></i>&nbsp;登入</button>
				</div>
			</li>
		</ul>
	</div>

	<script>

		$(function () {
			$('.kendo-select').kendoDropDownList();
		});

		function doClear() {
			$('#UserNameLDAP').val('');
			$('#StextLDAP').val('');
			$('#UserNameRCAF').val('');
			$('#StextRCAF').val('');
			$('#BranchRCAF').val('');

			setKendoDropDownListValue('#WorkOption', '1');
			setKendoDropDownListValue('#Platform', 'loc1');
		}

		function setKendoDropDownListValue(id, value) {
			var dropdownlist = $(id).data('kendoDropDownList');
			dropdownlist.value(value);
			dropdownlist.trigger('change');
		}

		function login() {
			var url = '@Url.Action("Login", "Account")';
			$.ajax({
				url: url,
				data: getModel(),
				type: 'POST',
				error: function (xhr, textStatus, errorThrown) { },
				success: function (data, textStatus, xhr) {
					if (data.result == 'success') {
						window.location.href = '@Url.Action("Index", "Home")';
					} else {
						alert(data.message);
						$('body').loading('stop');
					}
				},
				beforeSend: function (xhr) {
					$('body').loading({ theme: 'dark', message: '正在登入中...'});
				},
				complete: function () {
				}
			});
		}

		function getModel() {
			return {
				UserNameLDAP: $('#UserNameLDAP').val(),
				StextLDAP :$('#StextLDAP').val(),
				UserNameRCAF: $('#UserNameRCAF').val(),
				StextRCAF: $('#StextRCAF').val(),
				BranchRCAF: $('#BranchRCAF').val(),
				WorkOption: $('#WorkOption').val(),
				Platform: $('#Platform').val()
			};
		}

	</script>

</body>
</html>
