﻿
@{
	Layout = null;
}

<style>
	.alarm_badge {
		background: red;
		border-radius: 50px;
		color: white;
		font-size: 10px;
		font-weight: bold;
		padding: 2px 5px;
		position: absolute;
		margin-left: -10px;
		margin-top: 10px;
	}

	@@media (min-width: 1200px) {
		.alarm_badge {
			margin-left: -10px;
			margin-top: -10px;
		}
	}

	@@media (max-width: 992px) {
		.alarm_badge {
			margin-left: -22px;
			margin-top: 22px;
		}
	}

</style>

<div class="header">
	<div class="container">
		<a href="@Url.Action("Index", "Home", new { area = string.Empty })" class="logo"></a>
		<ul class="top-nav">
			<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="小鈴鐺"><i class="icon-alarm"></i></a><span class="alarm_badge">999</span></li>
			<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="使用者資訊"><i class="icon-user"></i></a></li>
			<li><a href="@Url.Action("Index", "Account")"><i class="icon-logout" data-toggle="tooltip" data-placement="bottom" data-container="body" title="登出"></i></a></li>
		</ul>
			<span class="wellcom">@Session[SessionKeys.USER_NAME]</span>
		<div class="mobile-menu-toggle">
			<a href="javascript:;" class="toggle-open"></a>
			<a href="javascript:;" class="toggle-close hide"></a>
		</div>
	</div>
</div>
