﻿
@{
	Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet">
@*<link href="~/Content/inc/img/favicon.ico" rel="icon" />*@
<link href="~/Content/inc/css/icomoon/style.css" rel="stylesheet">
@*<link href="~/Content/inc/plugin/bootstrap-select/css/bootstrap-select.css" rel="stylesheet">*@
<link href="~/Content/inc/css/animate.css" rel="stylesheet">
<link href="~/Content/jquery.loading.css" rel="stylesheet">
@*<link href="~/Content/assets/css/summernote.css" rel="stylesheet">*@
<link href="~/Content/inc/css/cf-layout.css" rel="stylesheet">
<link href="~/Content/assets/css/pofms-style.css" rel="stylesheet">
<link href="~/Content/fontawesome/css/all.css" rel="stylesheet" />
<link href="~/Content/kendo/styles/kendo.common.min.css" rel="stylesheet">
<link href="~/Content/kendo/styles/kendo.rtl.min.css" rel="stylesheet">
<link href="~/Content/kendo/styles/kendo.default.min.css" rel="stylesheet">
<link href="~/Content/kendo/styles/kendo.default.mobile.min.css" rel="stylesheet">

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Content/inc/js/base.js"></script>
<script src="~/Scripts/utility.js"></script>
<script src="~/Scripts/jquery.loading.min.js"></script>
<script src="~/Content/kendo/js/jszip.min.js"></script>
<script src="~/Content/kendo/js/kendo.all.min.js"></script>
<script src="~/Content/kendo/js/cultures/kendo.culture.zh-CHT.min.js"></script>
<script src="~/Content/kendo/js/messages/kendo.messages.zh-TW.min.js"></script>

