﻿@using CTCP.WEB.Models;
@using CTCP.WEB.Helpers;

@{
	Layout = null;
	var controller = ViewContext.RouteData.Values["controller"].ToString();
	var menus = (IList<MenuVM>) Session[SessionKeys.SITE_MAP_DATA] ?? new List<MenuVM>();
}

@if (menus != null) {

<div class="side-menu-hold tab-content">
	<div class="side-menu-title">
		<span>主選單</span>
		<a href="javascript:;" class="side-memu-toggle"><i></i></a>
	</div>
	@{
		var index = 0;
		var ccIndex = 0;
		foreach (var m1 in menus) {
			var isMenuSelected = m1.Controller == controller || m1.Items.Any(c => c.Controller == controller || c.Items.Any(d => d.Controller == controller));
			index++;
			var m1CollapsedClass = isMenuSelected ? string.Empty : "collapsed";
			var m1InClass = isMenuSelected ? "in" : string.Empty;
			var m1AcitiveClass = isMenuSelected ? "active" : string.Empty;

			if (m1.Items.Count == 0) {
				<div class="panel level-1 m1">
					<a href="#" onclick="addTab('@m1.Name', '@m1.Url')" class="toggle-side-bar tsb-0 one-level @m1CollapsedClass @m1AcitiveClass">@m1.Name​</a>
				</div>
			} else {
				<div class="panel level-1">
					<a href="#accordion_@index" class="toggle-side-bar @m1CollapsedClass" data-toggle="collapse" data-parent="#side-menu-1">@m1.Name</a>
					<div class="panel-group side-bar collapse @m1InClass" id="accordion_@index">
						@foreach (var m2 in m1.Items) {
							var m2ActiveClass = m2.Controller == controller || m2.Items.Any(i => i.Controller == controller) ? "active" : string.Empty;
							var m2InClass = m2.Controller == controller || m2.Items.Any(i => i.Controller == controller) ? "in" : string.Empty;
							var m2CollapsedClass = m2.Controller == controller || m2.Items.Any(i => i.Controller == controller) ? string.Empty : "collapsed";

							if (m2.Items.Count == 0) {
								<div class="panel">
									<div class="side-close-cover"></div>
									<a href="#" onclick="addTab('@m2.Name', '@m2.Url')" class="one-level @m2ActiveClass"><span class="fadeIn animated">@m2.Name​</span></a>
								</div>
							} else {
								<div class="panel">
									<div class="side-close-cover"></div>
									<a class="@m2CollapsedClass" data-toggle="collapse" data-parent="#accordion_@index" href="#CC@(ccIndex)"><span class="fadeIn animated">@m2.Name​​</span></a>
									<div id="CC@(ccIndex++)" class="panel-collapse collapse @m2InClass">
										<ul class="panel-body fadeIn animated">
											@foreach (var m3 in m2.Items) {
												var m3Class = m3.Controller == controller ? "active" : string.Empty;
												<li class="@m3Class"><a href="#" onclick="addTab('@m3.Name', '@m3.Url')">@m3.Name​</a></li>
											}
										</ul>
									</div>
								</div>
							}
						}
					</div>
				</div>
			}
		}
	}
</div>

}
