﻿
@{
}

@section css {
	<style>
		.k-card-header {
			background-color: #e7fdf9;
		}

	</style>
}

<div id="tilelayout"></div>

<script id="p1" type="text/x-kendo-template">
	<div>P1</div>
</script>

<script id="p1_header" type="text/x-kendo-template">
	<span>P1 Header</span>
	<a class="k-button" href="##" style="float:right;">
		<span class="k-icon k-i-refresh"></span>
	</a>
</script>

<script id="p2" type="text/x-kendo-template">
	<div>P2</div>
</script>

<script id="p2_header" type="text/x-kendo-template">
	P2 Header
	<a class="k-button" href="##" style="float:right;">
		<span class="k-icon k-i-refresh"></span>
	</a>
</script>

<script id="p3" type="text/x-kendo-template">
	<div>P3</div>
</script>

<script id="p3_header" type="text/x-kendo-template">
	<select id="dropdownlist">
		<option>Item 1</option>
		<option>Item 2</option>
		<option>Item 3</option>
	</select>

	<span>P3 header</span>

	<a class="k-button" href="##" style="float:right;">
		<span class="k-icon k-i-refresh"></span>
	</a>

</script>

<script id="p4" type="text/x-kendo-template">
	<div>P4</div>
</script>

<script id="p4_header" type="text/x-kendo-template">
	P4 Header
	<a class="k-button" href="##" style="float:right;">
		<span class="k-icon k-i-refresh"></span>
	</a>
</script>

<script id="p5" type="text/x-kendo-template">
	<div>P5</div>
</script>

<script id="p6" type="text/x-kendo-template">
	<div>P6</div>
</script>

@section scripts {
	<script>


		$(document).ready(function () {

			$("#tilelayout").kendoTileLayout({
				containers: [
					{
						colSpan: 3,
						rowSpan: 2,
						header: {
							template: kendo.template($("#p1_header").html())
						},
						bodyTemplate: kendo.template($("#p1").html())
					},
					{
						colSpan: 2,
						rowSpan: 1,
						header: {
							template: kendo.template($("#p2_header").html())
						},
						bodyTemplate: kendo.template($("#p2").html())
					},
					{
						colSpan: 2,
						rowSpan: 1,
						header: {
							template: kendo.template($("#p3_header").html())
						},
						bodyTemplate: kendo.template($("#p3").html())
					},
					{
						colSpan: 1,
						rowSpan: 1,
						header: {
							template: kendo.template($("#p4_header").html())
						},
						bodyTemplate: kendo.template($("#p4").html())
					},
					{
						colSpan: 1,
						rowSpan: 1,
						header: {
							text: 'P5 Header'
						},
						bodyTemplate: kendo.template($("#p5").html())
					},
					{
						colSpan: 1,
						rowSpan: 2,
						header: {
							text: 'P6 Header'
						},
						bodyTemplate: kendo.template($("#p6").html())
					}
				],
				columns: 5,
				columnsWidth: 300,
				rowsHeight: 235,
				reorderable: true,
				resizable: true,
				resize: function (e) {
				}
			});

			$("#dropdownlist").kendoDropDownList();

		});


	</script>
}

