﻿
@{
	ViewBag.Title = "Index";
}

@section css {
	<style>

		.iframe_content {
			width: 100%;
			height: 700px;
			border: 0;
			overflow: hidden;
		}

	</style>
}

@*<iframe class="iframe_content" src="@Url.Action("Hello", "Default")"></iframe>*@
<iframe class="iframe_content" src="~/Front/worklist.aspx"></iframe>

