/*------------------------------------------------------------------------------------------*/
div.icon {
	float: left;
	margin: 0px;
	padding: 0px; 
	}

/*ddd*/
a.first, .first:link, .first:visited {
	margin-right: 5px;
	text-decoration: none;
	background: url(../Img/page/first_off.gif) 50% 50% no-repeat;
	border:1px solid;
	}
a.first:hover {
	background-image: url(../Img/page/first_on.gif);
	}

/**/	
a.back {
	display:block;
	width: 19px;
	height: 19px;
	margin-right: 5px;
	text-decoration: none;
	background-image: url(../Img/page/back_off.gif);
	background-repeat: no-repeat;
	}
a.back:hover {
	background-image: url(../Img/page/back_on.gif);
	}

/**/	
a.forward {
	display:block;
	width: 19px;
	height: 19px;
	margin-right: 5px;
	text-decoration: none;
	background-image: url(../Img/page/forward_off.gif);
	background-repeat: no-repeat;
	}
a.forward:hover {
	background-image: url(../Img/page/forward_on.gif);
	}

/**/	
a.end {
	display:block;
	width: 19px;
	height: 19px;
	margin-right: 5px;
	text-decoration: none;
	background-image: url(../Img/page/end_off.gif);
	background-repeat: no-repeat;
	}
a.end:hover {
	background-image: url(../Img/page/end_on.gif);
	}

/* icon --------------------------------------------------------------------------------------------*/
/*Homepage	*/
/*
a.goBackHomePage {
	display:block;
	width: 25px;
	height: 20px;
	margin-right: 5px;
	text-decoration: none;
	background-image: url(../Img/icon/goBackHomePage_off.gif);
	background-repeat: no-repeat;
	}
a.goBackHomePage:hover {
	background-image: url(../Img/icon/goBackHomePage_on.gif);
	}
*/
a.goBackHomePage {
	display: inline-block;
	width: 25px;
	height: 20px;
	margin-right: 5px;
	text-decoration: none;
	background-image: url(../Img/icon2/goBackHomePage_off.gif);
	background-repeat: no-repeat;
	}
a.goBackHomePage:hover {
	background-image: url(../Img/icon2/goBackHomePage_on.gif);
	}

/*Email*/
/*	
a.Email {
	display:block;
	width: 25px;
	height: 20px;
	margin-right: 5px;
	text-decoration: none;
	background-image: url(../Img/icon/Email_off.gif);
	background-repeat: no-repeat;
	}
a.Email:hover {
	background-image: url(../Img/icon/Email_on.gif);
	}

*/
a.Email {
	display: inline-block;
	width: 25px;
	height: 20px;
	margin-right: 5px;
	text-decoration: none;
	background-image: url(../Img/icon2/Email_off.gif);
	background-repeat: no-repeat;
	}
a.Email:hover {
	background-image: url(../Img/icon2/Email_on.gif);
	}
/*WorkList*/	
/*
a.workList {
	display:block;
	width: 25px;
	height: 20px;
	margin-right: 5px;
	text-decoration: none;
	background-image: url(../Img/icon/workList_off.gif);
	background-repeat: no-repeat;
	}
a.workList:hover {
	background-image: url(../Img/icon/workList_on.gif);
	}
*/
a.workList {
	display: inline-block;
	width: 25px;
	height: 20px;
	margin-right: 5px;
	text-decoration: none;
	background-image: url(../Img/icon2/workList_off.gif);
	background-repeat: no-repeat;
	}
a.workList:hover {
	background-image: url(../Img/icon2/workList_on.gif);
	}
/*sv*/	
/*
a.sv {
	display:block;
	width: 25px;
	height: 20px;
	margin-right: 5px;
	text-decoration: none;
	background-image: url(../Img/icon/sv_off.gif);
	background-repeat: no-repeat;
	}
a.sv:hover {
	background-image: url(../Img/icon/sv_on.gif);
	}
*/
a.sv {
	display: inline-block;
	width: 25px;
	height: 20px;
	margin-right: 5px;
	text-decoration: none;
	background-image: url(../Img/icon2/sv_off.gif);
	background-repeat: no-repeat;
	}
a.sv:hover {
	background-image: url(../Img/icon2/sv_on.gif);
	}
/**Client*/	
/*
a.client {
	display:block;
	width: 25px;
	height: 20px;
	margin-right: 5px;
	text-decoration: none;
	background-image: url(../Img/icon/client_off.gif);
	background-repeat: no-repeat;
	}
a.client:hover {
	background-image: url(../Img/icon/client_on.gif);
	}
*/		
a.client {
	display: inline-block;
	width: 25px;
	height: 20px;
	margin-right: 5px;
	text-decoration: none;
	background-image: url(../Img/icon2/client_off.gif);
	background-repeat: no-repeat;
	}
a.client:hover {
	background-image: url(../Img/icon2/client_on.gif);
	}
/**account*/	
/*
a.account {
	display:block;
	width: 25px;
	height: 20px;
	margin-right: 5px;
	text-decoration: none;
	background-image: url(../Img/icon/account_off.gif);
	background-repeat: no-repeat;
	}
a.account:hover {
	background-image: url(../Img/icon/account_on.gif);
	}	
*/
a.account {
	display: inline-block;
	width: 25px;
	height: 20px;
	margin-right: 5px;
	text-decoration: none;
	background-image: url(../Img/icon2/account_off.gif);
	background-repeat: no-repeat;
	}
a.account:hover {
	background-image: url(../Img/icon2/account_on.gif);
	}	
/*--------------------------------------------------------------------------------------------------*/
a.deliver {
	display: block;
	width: 80px;
	height: 22px;
	margin: 0px 0px 10px 0px;
	padding: 5px 0x 0px 28px;
	font: 9pt verdana, arial, sans-serif;
	color: #000000;
	text-decoration: none;
	background-repeat: no-repeat;
	background-image: url(../Img/btn/deliver_off.gif);
	}
a.deliver:hover {
	color: #FFFFFF;
	background-image: url(../Img/btn/deliver_on.gif);
	}

a.close {
	display: block;
	width: 21px;
	height: 21px;
	margin: 0px;
	padding: 0px;
	font: 1pt verdana, arial, sans-serif;
	color: #000000;
	text-decoration: none;
	background-repeat: no-repeat;
	background-image: url(../img/btn/close_off.gif);
	}
a.close:hover {
	color: #FFFFFF;
	background-image: url(../img/btn/close_on.gif);
	}

a.lookUp {
	display: block;
	width: 80px;
	height: 22px;
	margin: 0px;
	padding: 5px 0x 0px 28px;
	font: 9pt verdana, arial, sans-serif;
	color: #000000;
	text-decoration: none;
	background-repeat: no-repeat;
	background-image: url(../img/btn/lookUp_off.gif);
	}
a.lookUp:hover {
	color: #FFFFFF;
	background-image: url(../img/btn/lookUp_on.gif);
	}

/**/	
.lookUp {
	display: block;
	}
.lookUp:link, .lookUp:visited{
	height: 22px;
	padding: 5px 0x 0px 45px;
	font: 9pt verdana, arial, sans-serif;
	background: url(../Img/btn/lookUp_off.gif) 0% 0% no-repeat;
	color: #000;
}
.lookUp:hover {
	color: #fff;
	background-image: url(../Img/btn/lookUp_on.gif);
	}

a.save {
	display: block;
	width: 80px;
	height: 22px;
	margin: 0px;
	padding: 5px 0x 0px 28px;
	font: 9pt verdana, arial, sans-serif;
	color: #000000;
	text-decoration: none;
	background-repeat: no-repeat;
	background-image: url(../Img/btn/save_off.gif);
	}
a.save:hover {
	color: #FFFFFF;
	background-image: url(../Img/btn/save_on.gif);
	}

/**/	
a.delete {
	display: block;
	width: 80px;
	height: 22px;
	margin: 0px;
	padding: 5px 0x 0px 28px;
	font: 9pt verdana, arial, sans-serif;
	color: #000000;
	text-decoration: none;
	background-repeat: no-repeat;
	background-image: url(../Img/btn/delete_off.gif);
	}
a.delete:hover {
	color: #FFFFFF;
	background-image: url(../Img/btn/delete_on.gif);
	}
	
/**/	
a.edit {
	display: block;
	width: 80px;
	height: 22px;
	margin: 0px;
	padding: 5px 0x 0px 28px;
	font: 9pt verdana, arial, sans-serif;
	color: #000000;
	text-decoration: none;
	background-repeat: no-repeat;
	background-image: url(../Img/btn/edit_off.gif);
	}
a.edit:hover {
	color: #FFFFFF;
	background-image: url(../Img/btn/edit_on.gif);
	}
	
/**/	
a.add:link, a.add:visited{
	display: block;
	width: 80px;
	height: 22px;
	margin: 0px;
	padding: 5px 0x 0px 28px;
	font: 9pt verdana, arial, sans-serif;
	color: #000000;
	text-decoration: none;
	background-repeat: no-repeat;
	background-image: url(../img/btn/add_off.gif);
	}
a.add:hover {
	color: #FFFFFF;
	background-image: url(../img/btn/add_on.gif);
	}
	
/**/	
a.cancel {
	display: block;
	width: 80px;
	height: 22px;
	margin: 0px;
	padding: 5px 0x 0px 28px;
	font: 9pt verdana, arial, sans-serif;
	color: #000000;
	text-decoration: none;
	background-repeat: no-repeat;
	background-image: url(../Img/btn/cancel_off.gif);
	}
a.cancel:hover {
	color: #FFFFFF;
	background-image: url(../Img/btn/cancel_on.gif);
	}	
/********************************************/	
.save {
	display: block;
	}
.save:link, .save:visited{
	text-align: left;
	height: 22px;
	padding: 5px 0x 0px 45px;
	font: 9pt verdana, arial, sans-serif;
	background: url(../Img/btn/save_off.gif) 0% 0% no-repeat;
	color: #000;
}
.save:hover {
	color: #FFFFFF;
	background-image: url(../Img/btn/save_on.gif);
	text-decoration: none;
	}

/*detail Edit icon*/	
a.detailEdit {
	display: inline-block;
	width: 14px;
	height: 12px;
	margin: 0px;
	padding: 0px;
	font: 1pt verdana, arial, sans-serif;
	text-decoration: none;
	background-repeat: no-repeat;
	background-image: url(../Img/icon/detailtEdit_off.gif);
	}
a.detailEdit:hover {
	color: #FFFFFF;
	background-image: url(../Img/icon/detailtEdit_on.gif);
	}

a.detailtEdit_NO {
	display: inline-block;
	width: 14px;
	height: 12px;
	margin: 0px;
	padding: 0px;
	font: 1pt verdana, arial, sans-serif;
	text-decoration: none;
	background-repeat: no-repeat;
	background-image: url(../Img/icon/detailtEdit_NO_off.gif);
	}
a.detailtEdit_NO:hover {
	color: #FFFFFF;
	background-image: url(../Img/icon/detailtEdit_NO_on.gif);
	}