﻿body
{
    background-color: #007c78;
    margin: 0;
    padding: 5px;
    background-image: url(../Img/leftFrame_bg01.gif);
    background-repeat: repeat-y;
    background-color: #cccc9a;
    background-attachment: fixed;
}
.treeNode, .treeNode:link, .treeNode:visited
{
    font: normal 10pt verdana, arial, sans-serif;
    color: #FFF;
}
.treeNode:hover
{
    color: #FF99CC;
}
.leafNode
{
    border: Dotted 2px black;
    padding: 4px;
    background-color: #eeeeee;
    font-weight: bold;
}
.nodeLevel1
{
    font: normal 10pt Arial,Sans-Serif;
    color: #ffffff;
}
.nodeLevel1:link, .nodeLevel1:visited
{
    color: #ffffff;
}
.nodeLevel1:hover
{
    color: #b0fff8;
}
.nodeLevel2
{
    font: normal 10pt Arial,Sans-Serif;
}
.nodeLevel2:link, .nodeLevel2:visited
{
    color: #FFFFCC;
}
.nodeLevel2:hover
{
    color: #FF99CC;
}
.nodeLevel3
{
    font: normal 9pt Arial,Sans-Serif;
}
.nodeLevel3:link, .nodeLevel3:visited
{
    color: #FFF;
}
.nodeLevel3:hover
{
    color: #b0fff8;
}
.nodeLevel4
{
    font: normal 9pt Arial,Sans-Serif;
}
.nodeLevel4:link, .nodeLevel4:visited
{
    color: #FFFFCC;
}
.nodeLevel4:hover
{
    color: #FF99CC;
}
