/*whole------------------------------------------------------------------------------------------------*/
body {
	margin: 0px auto;
	text-align: center;
	background-position:center;
	background-color:#999999;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

/*mainFrame ------------------------------------------------------------------------------------------------*/
body#mainFrame {
	margin: 0;
	padding: 0;
	text-align:center;
	
		vertical-align:middle;
	background-color:#cccc9a;	
	color:brown;
}

div#parchment{
	margin: 10px;
	padding: 10px;
	background-position:center;
	width: 750px;
	height: 500px;
	
	background-image:url(../Img/parchment_cccc9a.jpg);
	background-repeat:no-repeat;
	background-color:#cccc9a;	
	position:relative;
}

marquee {
	position:absolute;

	top:120px;
	width: 750px;
	height: 300px;
	border: solid 0px;
}

div#parchment ul{
	margin: 140px 0px 0px 130px;
	padding: 0;
	font-size: 10pt;
	font-weight:bold;
	list-style-type:none;	
}
div#parchment ul ul{
	margin: 5px 0px 20px 20px;
	padding: 0px;
	font-size: 9pt;
	font-weight:normal;
	list-style-type:disc;	
}

