﻿body
{
	margin: 0;
	padding: 0;
	font-size:9pt;
	background-color: #fff;
	color: #333;
}

form 
{
	margin: 0;
	padding: 0;
}

#blockAll 
{
	width: 98%;
	margin: 0 auto;
	padding: 5px;
	text-align: left;
}

.fieldsetNormal
{
	width: 100%;
	border-top-style: none; 
	border-right-style: none; 
	border-left-style: none; 
	border-bottom-style: none;
}

legend 
{
	color:#ff9900;
	font: bold 10pt verdana, arial, sans-serif;
}

table.tableQuery
{
	width:100%; 
	border:solid 1px white;
	border-collapse:collapse;
}

table.tableQuery td
{
    white-space:nowrap;
}

table {
	color: #333;
	color:#424A5E;
}

.BlockX
{
	overflow-x:auto;
	overflow-y:hidden;
	background: #f1f1f1;
	border: lightgrey 1px solid; 
	width: 100%;
}
.BlockY
{
	overflow-x:hidden;
	overflow-y:auto;
	background: #f1f1f1;
	border: lightgrey 1px solid; 
	width: 100%;
}
.BlockXY
{
	overflow-x:auto;
	overflow-y:auto;
	background: #f1f1f1;
	border: lightgrey 1px solid; 
	width:100%;
}

.textboxNormal1
{
	padding-right: 3px;
	padding-left: 3px;
	font-size: 12px;
	font-family: Verdana;
	width: 95%;
}

.textboxNormal2
{
	padding-right: 3px;
	padding-left: 3px;
	font-size: 12px;
	font-family: Verdana;
	width: 90%;
}

.textboxReadOnly1
{
	padding-right: 3px;
	padding-left: 3px;
	font-size: 12px;
	font-family: Verdana;
	width: 95%;
	background-color: #E1E1E1;
	color: #990000;
	border: none;	
}

.textboxReadOnly2
{
	padding-right: 3px;
	padding-left: 3px;
	font-size: 12px;
	font-family: Verdana;
	width: 90%;
	background-color: #E1E1E1;
	color: #990000;
	border: none;	
}

.textboxNormal3
{
	padding-right: 3px;
	padding-left: 3px;
	font-size: 12px;
	font-family: Verdana;
	width: 80%;
}

.textboxReadOnly3
{
	padding-right: 3px;
	padding-left: 3px;
	font-size: 12px;
	font-family: Verdana;
	width: 83%;
	background-color: #E1E1E1;
	color: #990000;
	border: none;	
}

.textboxAlert1
{
	padding-right: 3px;
	padding-left: 3px;
	font-size: 12px;
	font-family: Verdana;
	width: 95%;
	background-color: #C9F3FF;
}

.textboxAlert2
{
	padding-right: 3px;
	padding-left: 3px;
	font-size: 12px;
	font-family: Verdana;
	width: 90%;
	background-color: #C9F3FF;
}

.dropdownlistNormal
{
	font-size: 12px;
	font-family: Verdana;
	width: 100%;
}

.radiobuttonlistNormal
{
	font-size: 12px;
	font-family: Verdana;
	width: 100%;
}
.checkboxlistNormal
{
	font-size: 12px;
	font-family: Verdana;
	width: 100%;
}

.buttonNormal
{
	padding-right: 6px;
	padding-left: 6px;
	font-size: 12px;
	font-family: Verdana;
	word-spacing: 2px;
	margin-left: 2px;
	margin-right: 2px;
	padding-top: 1px;
	height: 23px;
}

/*--New style of page-----------------------------------------------------*/

.blockTitle
{
    font: bold 9pt 'Lucida Grande', 'Trebuchet MS',Arial;
    color:#ff9900;
}


/***************************************************************************************************toolbar css*/
.DownStyle{background-image:url('00100406');cursor:hand;font-family:Tahoma;font-size:12px;padding-bottom:4px;padding-left:7px;padding-right:7px;padding-top:4px;}
.HoverStyle{background-image:url('00100405');cursor:hand;font-family:Tahoma;font-size:12px;padding-bottom:4px;padding-left:7px;padding-right:7px;padding-top:4px;}
.NormalStyle{PADDING-RIGHT: 7px;PADDING-LEFT: 7px; FONT-SIZE: 12px; PADDING-BOTTOM: 4px; CURSOR: hand; PADDING-TOP: 4px; FONT-FAMILY: Tahoma;}
/****************************************************************************************************---------GRIDVIEW css*/

.GridViewB {
	font-weight: bold;
}
.GridViewFtr {
	float: right;
}

/*Table--------------------------------------------------------------------------------------------*/
.GridViewCaseTable {
	width: 100%;
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
	border: solid 1px #999999;
}
.GridViewCaseTable td {
	padding: 4px;
	border: 1px solid #ececea;
}
.GridViewCaseTable tr td.right {
	text-align: right;
}
.GridViewCaseTable tr td.left {
	text-align: left;
}
.GridViewCaseTable tr td.center {
	text-align: center;
}
.GridViewCaseTable tr.no1 {
	background-color: #E7E7E7;
}
.GridViewCaseTable tr.no2 {
	background-color: #DCDCDC;
}
.GridViewCaseTable tr.event{
	background-image: url(../Img/event_off.gif);
	background-repeat: repeat-x;
}
.GridViewCaseTable th.event {
	background-image: url(../Img/event_off.gif);
	background-repeat: repeat-x;
}
.GridViewCaseTable tr.event img{
	border: 0px;
	margin: 0px 5px 0 5px;
}
.GridViewCaseTable th {
	padding: 0px;
	font-weight: normal;
	vertical-align: middle;
	text-align: center;
	border: 1px solid #ececea;
	white-space: nowrap;
	color:#2f362f;
	color:#0f3b5f;
}
.GridViewCaseTable th a, .GridViewCaseTable th a:link, .GridViewCaseTable th a:visited{
	display: block;
	height: 20px;
	padding: 10px 5px 0px 5px;
	text-decoration: none;
	color:#2f362f;
	color:#0f3b5f;
	font-family :新細明體
}
.GridViewCaseTable th a:hover {
	color: #2f362f;
	color:#0f3b5f;
	background-image: url(../Img/event_on.gif);
	background-repeat: repeat-x;
}

.GridViewCaseTable tr.funbar {
	background-color:#f1f1f1;	
	border: solid 1px #999999;
	border-bottom: 0px;
	font: normal 9pt arial, sans-serif;
	color:#000;
	margin: 0px;
	padding: 0px 5px 0px 5px;
}

.GridViewCaseTable tr.funcaption {
	background-color:#f1f1f1;	
	border: solid 1px #999999;
	border-bottom: 0px;
	font: bold 10pt arial, sans-serif;
	color:#666;
	padding: 0px 5px 0px 5px;
}

.GridViewPgno{
	float:left;
}
/*flexible button-----------------------------------------------------------------------------------------------------*/
.GridViewBtna {
	padding-right: 1px;
	padding-left: 1px;
	font-size: 12px;
	font-family: Verdana;
	word-spacing: 2px;
	margin-left: 2px;
	margin-right: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 23px;
	vertical-align :bottom;
}

/*detail Edit icon*/	
a.GridViewDetailEdit {
	display: inline-block;
	width: 14px;
	height: 12px;
	margin: 0px;
	padding: 0px;
	vertical-align: bottom;
	font: 1pt verdana, arial, sans-serif;
	text-decoration: none;
	background-repeat: no-repeat;
	background-image: url(../Img/icon/detailtEdit_off.gif);
	}
a.GridViewDetailEdit:hover {
	color: #FFFFFF;
	background-image: url(../Img/icon/detailtEdit_on.gif);
	}
	

 /*UGS03*/
	a.set1{
	display: inline-block;
	width: 14px;
	height: 12px;
	margin: 0px;
	padding: 0px;
	font: 0pt verdana, arial, sans-serif;
	text-decoration: none;
	background-repeat: no-repeat;
	background-image: url(../Img/icon/serchinfo_off.gif);
	}
	a.set1:hover {
	color: #FFFFFF;
	background-image: url(../Img/icon/serchinfo_on.gif);
	}
	
	/*Table-------------------------------------------------usage for 催收總覽-------------------------------------------*/
.caseTable {
	width: 100%;
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
	border: solid 1px #999999;
}
.caseTable td {
	padding: 4px;
	border: 1px solid #ececea;
}
.caseTable tr.no1 {
	background-color: #E7E7E7;
}
.caseTable tr.no2 {
	background-color: #DCDCDC;
}
.caseTable tr.event{
	background-image: url(../Img/event_off.gif);
	background-repeat: repeat-x;
}
.caseTable tr.event img{
	border: 0px;
	margin: 0px 5px 0 5px;
}
.caseTable th {
	font-weight: normal;
	text-align: center;
	border: 1px solid #ececea;
	white-space: nowrap;
	color:#2f362f;
	color:#0f3b5f;
	height: 19px;
}
.caseTable th a, .caseTable th a:link, .caseTable th a:visited{
	display: block;
	height: 19px;
	padding: 10px 5px 0px 5px;
	text-decoration: none;
	color:#2f362f;
	color:#0f3b5f;
}
.caseTable th a:hover {
	color: #2f362f;
	color:#0f3b5f;
	background-image: url(../Img/event_on.gif);
	background-repeat: repeat-x;
}
.caseTable caption {
	background-color:#f1f1f1;	
	border: solid 1px #999999;
	border-bottom: 0px;
	font: bold 9pt verdana, arial, sans-serif;
	color:#666;
	padding: 5px;
	text-align:left;
}

.tabclose:link,.tabclose:visited {
	font: bold 9pt 'Lucida Grande', 'Trebuchet MS',Arial;
	color :#f00; 
	padding:0 3px 3px 3px;
}

.tabclose:hover {
	background-color: #FF0000; 
	color :#fff; 
}

/*頁籤*/
    ul.tabs
    {
        list-style-type: none;
        margin: 5px 0 0 0;
        padding: 0 0 0.3em 0;
    }
    ul.tabs li
    {
        display: inline;
    }
    ul.tabs li a
    {
        color: #42454a;
        background-color: #dedbde;
        border: 1px solid #c9c3ba;
        border-bottom: none;
        padding: 0.3em;
        text-decoration: none;
    }
    ul.tabs li a:hover
    {
        background-color: #f1f0ee;
        border-top:#FFBA46 2px solid;
    }
    ul.tabs li a.selected
    {
        color: #000;
        background-color: #fff;
        font-weight: normal;
        padding: 0.3em 0.3em 0.38em 0.3em;
        border-top:#FFBA46 2px solid;
    }
    div.tabCont
    {
        border: 1px solid #c9c3ba;
        padding: 0.5em;
        background-color: #fff;
    }

#divSandglass 
{ 
position:absolute; 
left:0; 
top:0; 
height:0; 
width:0; 
border:2 solid red; 
display:none; 
text-align:center; 
background-color:#DBDBDB; 
filter:Alpha(opacity=60); 
}


/*小花*/
#divFlower 
{
    position: absolute;
    background: url(../img/ajax_progress.gif) no-repeat top left;
    top: 0px;
    left: 660px;
    width: 85px;
    height: 23px;
    text-align: right;
    padding-top: 10px;        
}

#spanWait 
{
    border: 0px solid; 
    color: #CC6666; 
    font: italic 13px verdana;
}

#divLightBox
{
	z-index: 100;
	position: absolute;
    top:  0px;
    left: 0px;
    width: 1280px;
    height: 1160px;
    filter: alpha(opacity=0);
    background-Color: Silver;
}


