/*whole------------------------------------------------------------------------------------------------*/
a:link, a:visited{
	color:#3366FF;
	text-decoration: none;
}
a:hover, a:active{
	color:#FF0000;
	text-decoration: underline;
}

/*topFrame------------------------------------------------------------------------------------------------*/
body#topFrame {
	margin: 0;
	padding: 0;
	background: #006152 url(../Img/topFrame_bg.gif) repeat-x;
	font: 9pt/12pt verdana, arial, sans-serif;
}

body#topFrame table {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 78px;
	border-collapse: collapse;
	background: url(../Img/topFrame_logo.jpg) no-repeat;
	vertical-align:top;
	font: 9pt/12pt verdana, arial, sans-serif;
}
div#close{
	margin: 2px 5px 5px 0;
	padding: 0;
	text-align: right;
}
div#close a{
	display:block;
	margin: 0;
	padding: 0;
	width: 21px;
	height: 21px;
	text-decoration: none;
	background-image:url(../Img/close_off.gif);
	background-repeat:no-repeat;
}
div#close a:hover{
	background-image:url(../Img/close_on.gif);
}

div#information{
	margin: 0 5px 0 200px;
	padding: 0;
	color:#94ded0;
}
div#staff{
	float:left;
}

div#time{
	float:right;
}

div#function{
 	clear:both;
	margin: 0 5px 0 200px;
	padding: 0;
	color:#CCCCCC;
	font-size: 10pt;
}

div#function a{
	color:#FFFFFF;
	text-decoration: none;
}
div#function a:hover{
	color:#b0fff8;
	text-decoration: underline;
}
/**************************************/
a.menuClose {
	display: inline-block;
	width: 30px;
	height: 22px;
	margin-right: 3px;
	text-decoration: none;
	background-image: url(../img/icon/menuClose_off.gif);
	background-repeat: no-repeat;
	}
a.menuClose:hover {
	background-image: url(../img/icon/menuClose_on.gif);
	}

a.menuOpen {
	display: inline-block;
	width: 30px;
	height: 22px;
	margin-right: 3px;
	text-decoration: none;
	background-image: url(../img/icon/menuOpen_off.gif);
	background-repeat: no-repeat;
	}
a.menuOpen:hover {
	background-image: url(../img/icon/menuOpen_on.gif);
	}






















/*頭------------------------------------------------------------------------------------------------*/
td#header {
	vertical-align:top;
	border: 1px solid #ececea;
	border-bottom: 0px;
}

/*尾------------------------------------------------------------------------------------------------*/
td#footer {
	border: 1px solid #ececea;
	border-top: 0px;
	height: 34px;
	background-color: #d3d2ce;
	background-image:url(../Img/footerBg.gif);
	background-repeat: no-repeat;
	font-size: 9pt;
	padding: 0px 30px 0px 42px;
}

td#footer div.footerL{
	float: left;
	color:#999999;
	margin:0px;
	margin: 0;
	padding: 0px 0px 20px 0px;
}

td#footer div.footerR{
	float: right;
	color: #CCCCCC;
	margin: 0;
	padding: 6px 0px 0px 0px;
}

td#footer div.footerL a:link, td#footer div.footerL a:visited{
	color:#999999;
	text-decoration: none;
}
td#footer div.footerL a:hover, td#footer div.footerL a:active{
	color: #FF0000; 
	text-decoration: underline;
}


/*主要內容------------------------------------------------------------------------------------------------*/
div#content {
	background-image:url(../Img/pageBg.gif);
	background-repeat:repeat-x;
	margin: 0px auto;
	padding: 40px 40px 0px 40px;	
	/*for FireFox*/
	width: 870px;		
	/*for IE*/
	_width: 950px;	
	height: 100%;	
	border: 0px solid #828280;
	background-color: #ececea;
	text-align: left;	
	font-size: 1em;
	line-height: 1.8em;
}
div#picture{
	float:left;
	margin: 0;
	padding: 0;
}

div#text{
	float:right;
	margin: 0;
	padding: 0;
	width: 568px; 
}


div#text h1{
	width: 568px; 
	height: 27px;
	margin: 0 0 15px 0;
}
div#text h1 span {
	display:none
	}
div#text P{
	text-indent: 2em;
	margin: 0 0 10px 0;
	padding: 0;

}