/*--------------------------------------------------------------------------------------------*/
#blockBody {
	margin: 0px;
	padding: 0px;
	}
a:link, a:visited {
	color: #0066CC;
	}
a:hover, a:active {
	text-decoration: underline;
	color: #990000;
	}	
img.noBorder {
 border: 0px;
	}

/*logo-------------------------------------------------------------------------------------------*/
#logo {
 float: left;
	padding: 0px 0px 0px 10px;
	}
#date {
	float: right;
	color: #FFFFFF;
	font-size: 9pt;
	padding: 10px 15px 0px 0px;
	}
	
/*------------------------------------------------------------------------------------------*/
#form {
	display:inline;
	}
#caseIndex {
	height:20px;
	margin: 0px;
	}
#caseIndex div.item {
	float: left;
	margin: 0px;
	padding: 8px 10px 0px 0px; 
	color: #CCCCCC;
	}

/**/
#caseIndex div.button {
	float: left;
	margin: 0px;
	padding: 3px 0px 3px 0px; 
	}
a.deliver {
	display: block;
	width: 95px;
	height: 32px;
	text-decoration: none;
	background-image: url(../Img/btn/g_deliver_off.gif);
	background-repeat: no-repeat;
	}
a.deliver:hover {
	background-image: url(../Img/btn/g_deliver_on.gif);
	}

/*--------------------------------------------------------------------------------------------*/
.caseTable {
	width: 100%;
	margin: 5px 0px 0px 0px;
	border: 0px solid #C0C0C0;
	}
.caseTable caption {
	
	padding: 5px;
	}
.caseTable th {
	font: 9pt/12pt Arial, Helvetica, sans-serif;
		
	}
.caseTable tr.bar {
	color: #333;
	background-color: #E7E7E7;
	background-color: #cccc9a;
	color: #000;
	background-color: #353535;
	
	background-color: #989898;
	background-color: #9daf72;
	background-color: #669999;
	background-color: #5c755e;
	background-color: #9c9f84;
	
}
.caseTable tr.bar th{
	 color: #0f3b5f;
	 font-weight:bold;
	 }

.caseTable tr.caseA {
	background-color: #FF9999;
	}
.caseTable tr.caseB {
	background-color: #FFCCCC;
	}
.caseTable tr.caseC {
	background-color: #FFCC99;
	}
.caseTable tr.caseD {
	background-color: #FFE9A6;
	}
.caseTable td.link a{
	color:#0066CC;
}

.alink:link {
	color: #FF8F19;
	font: bold 10pt/12pt verdana, arial, sans-serif;
}
.alink:visited {
	color: #FF8F19;
	font: bold 10pt/12pt verdana, arial, sans-serif;
}
.alink:hover {
	color: #990000;
	font: bold 10pt/12pt verdana, arial, sans-serif;
}


 fieldset div {
	background: #fff;
}   
.BlockY
{
	overflow-x:hidden;
	overflow-y:fixed;
	background: #f1f1f1;
	border: lightgrey 1px solid; 
	width: 100%;
}
