﻿@*主管Compaign*@

@{
	Layout = "/Views/Shared/_SimpleLayout.cshtml";
}

@section css {
	<style>

		.k-primary {
			border-color: #007979;
			background-color: #007979;
		}

		.disabledbutton {
			pointer-events: none;
			opacity: 0.4;
		}

		/*dialog header*/
		.k-window-titlebar {
			background-color: #e7fdf9;
		}
	</style>
}

<div class="row" style="margin: 0;">

	@*<h1 class="main-title">主管Campaign匯入作業</h1>*@

	<div class="tb-single-rwd">
		<div class="td" style="width:500px;">

			<input type="radio" name="action" id="radio1" class="k-radio" onchange="onRadioButtonChanged()" value="1">
			<label class="k-radio-label" for="radio1">自訂條件</label>

			<input type="radio" name="action" id="radio2" class="k-radio" onchange="onRadioButtonChanged()" value="2">
			<label class="k-radio-label" for="radio2">匯入指定名單</label>
		</div>

		<div class="td">

			<div style="width:95%;">
				<input name="files" id="files" type="file" />
			</div>
		</div>

	</div>

	<h2 class="main-title">篩選條件</h2>

	<div id="select_cond" class="edit-form" style="padding:20px">
		<div class="tb-single-rwd">
			<div class="td hd">
				使用特定人員Base表
			</div>
			<div class="td">
				<select id="aa" class="dropdownlist" style="width:30%">
					<option>科</option>
					<option>科 1</option>
					<option>科 2</option>
				</select>
				<select class="dropdownlist" style="width:30%">
					<option>組</option>
					<option>組 1</option>
					<option>組 2</option>
				</select>
				<select class="dropdownlist" style="width:30%">
					<option>員</option>
					<option>員 1</option>
					<option>員 2</option>
				</select>
			</div>
			<div class="td"></div>
		</div>

		<div class="tb-single-rwd">
			<div class="td">
				<select class="dropdownlist" style="width:25%">
					<option>選擇常用條件</option>
					<option>選擇常用條件 1</option>
					<option>選擇常用條件 2</option>
				</select>
				<input id="simple-input" type="text" class="k-textbox" style="width: 25%; margin-left:25%" placeholder="請輸入條件名稱" />
				<button class="k-primary k-button"><i class="k-icon k-i-save k-i-floppy"></i>&nbsp;儲存條件</button>
				<div class="k-button k-primary" style="margin-left:30px"><i class="fa fa-trash-alt"></i>&nbsp;刪除條件</div>
			</div>
		</div>

		<span class="k-badge k-badge-solid k-badge-info k-badge-md k-badge-rounded k-badge-inline"><i class="fa fa-filter"></i>&nbsp;組別 等於 呆一科呆一組</span>
		<span class="k-badge k-badge-solid k-badge-info k-badge-md k-badge-rounded k-badge-inline"><i class="fa fa-filter"></i>&nbsp;最近聯絡日 小於 2020/06/01</span>
		<div id="grid" style="margin-top: 20px; margin-bottom: 20px;">
			<script>
				$(document).ready(function () {
					$("#grid").kendoGrid({
						//dataSource: {
						//	type: "odata",
						//	transport: {
						//		read: "https://demos.telerik.com/kendo-ui/service/Northwind.svc/Customers"
						//	},
						//	pageSize: 20
						//},
						//height: 500,
						groupable: false,
						sortable: true,
						reorderable: true,
						resizable: true,
						columnMenu: true,
						filterable: {
							extra: false,
							//ui: function (element) {
							//	element.kendoDatePicker({
							//		format: 'yyyy/MM/dd',
							//		culture: 'zh-CHT',
							//	});
							//}
						},
						pageable: false,
						columns: [{
							field: "c1",
							title: "統一編號",
							width: 120
							//locked: true
						}, {
							field: "c2",
							title: "客戶姓名",
							width: 120
						}, {
							field: "c3",
							title: "產品別",
							width: 120
						}, {
							field: "c4",
							title: "應收合計",
							width: 120
						}, {
							field: "c5",
							title: "呆帳餘額",
							width: 120
						}, {
							field: "c6",
							title: "最近聯絡日",
							width: 120
						}, {
							field: "c7",
							title: "Callback",
							width: 120
						}, {
							field: "c8",
							title: "最近繳款日",
							width: 120
						}, {
							field: "c9",
							title: "還款態樣",
							width: 120
						}, {
							field: "c10",
							title: "分案日",
							width: 120
						}, {
							field: "c11",
							title: "SubSegment",
							width: 120
						}, {
							field: "c12",
							title: "催收員",
							width: 120
						}, {
							field: "c13",
							title: "分機",
							width: 120
						}]
					});

					var grid = $("#grid").data("kendoGrid");

					$("#save").click(function (e) {
						e.preventDefault();
						localStorage["kendo-grid-options"] = kendo.stringify(grid.getOptions());
					});

					$("#load").click(function (e) {
						e.preventDefault();
						var options = localStorage["kendo-grid-options"];
						if (options) {
							grid.setOptions(JSON.parse(options));
						}
					});
				});
			</script>
			<style>
				#grid .k-grid-content {
					display: none;
					/*height: 0px;*/
				}

				#grid .k-grid-header-wrap {
					overflow-x: scroll;
					height: 100%
				}

				/*#grid1.k-grid-norecords {
						display: none;
					}*/

				#grid .k-grid .k-auto-scrollable {
					height: auto !important;
					overflow-x: visible !important;
				}
			</style>
		</div>
		@*<div style="border: 1px solid rgba(0,121,121,.2); width:95%; border-color:black; margin:15px; padding:5px; border-color:lightgray; border-radius: 2px;">
				<span style="width:100%; border-color:black;font-family: Roboto-Bold;">
					<span style="color:blue;font-family: Roboto-Bold;">組別</span>=呆一科呆一組,<span style="color:blue;font-family: Roboto-Bold;">最近聯絡日</span><"2020/06/01"
				</span>
			</div>*@

	</div>


	<div class="btn-area" style="width:100%; text-align:center; margin-bottom: 30px;">

		<button class="k-primary k-button"><i class="fa fa-search"></i>&nbsp;查詢</button>
		<span style="font-size: 18px; font-weight:bold; position:absolute; left:0">共<a id="detail" onclick="openDialog()">300</a>件</span>
	</div>



	<h2 class="main-title">指派動作</h2>

	<div class="edit-form">

		<div class="tb-single-rwd">
			<div class="td hd"></div>
			<div class="td" style="text-align:left">
				<input type="radio" name="engine" id="radio1" class="k-radio">
				<label class="k-radio-label" for="radio1" style="padding-right:10px">每日例行</label>

				<input type="radio" name="engine" id="radio2" class="k-radio">
				<label class="k-radio-label" for="radio2" style="padding-right:10px">一次性</label>
			</div>


			<div class="td hd"><span class="star">*</span> 專案名稱</div>
			<div class="td">
				<input type="text" title="專案名稱" class="k-textbox k-valid" style="width:90%">
			</div>

		</div>

		<div class="tb-single-rwd">

			<div class="td hd"><span class="star">*</span> 結束日期</div>
			<div class="td">
				<input class="datepicker" style="width: 90%;" />
			</div>

			<div class="td hd"><span class="star">*</span> 資料刪除日期</div>
			<div class="td">
				<input class="datepicker" style="width: 90%;" />
			</div>

		</div>

		<div class="tb-single-rwd">

			<div class="td hd">指派動作</div>
			<div class="td">
				<div>
					<select id="optional" style="width: 47.9%;">
						<option>戶謄</option>
						<option>外訪</option>
						<option>法務之命</option>
						<option>法務國稅</option>
						<option>法務強值執產</option>
						<option>信函</option>
						<option>退案</option>
					</select>
					<select id="selected" style="width: 47.9%;"></select>
				</div>
			</div>

		</div>



	</div>

</div>



<div class="btn-area">
	<button class="k-primary k-button"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;指派</button>
</div>



<div id="dialog" style="height:30%">
	<div id="grid2" stlte style="margin:30px"></div>
	<div class="btn-area">
		<div class="k-button k-primary">匯出</div>
	</div>
</div>

@section scripts {
	<script>

		$('.dropdownlist').kendoDropDownList({
			placeholder: "Select product",
			optionLabel: {
				text: '請選擇',
				value: ''
			},
		});

		$('.datepicker').kendoDatePicker({
			value: new Date(),
			dateInput: true,
			culture: 'zh-CHT',
			format: "yyyy/MM/dd"
		});

		$('#optional').kendoListBox({
			connectWith: 'selected',
			selectable: "multiple",
			toolbar: {
				tools: ['transferTo', 'transferFrom']
			}
		});

		$('#selected').kendoListBox({
			selectable: "multiple"
		});

		$('#files').kendoUpload({
			localization: {
				select: '請選擇檔案',
				remove: '刪除',
				cancel: '取消'
			}
		});

		$('#files').data('kendoUpload').disable();
		$("#select_cond").addClass("disabledbutton");

		$('#grid2').kendoGrid({
			dataSource: new kendo.data.DataSource({
				data: [
					{
						c1: '呆收一科',
						c2: '呆收一組',
						c3: '王大明',
						c4: '10',
					},
					{
						c1: '呆收一科',
						c2: '呆收一組',
						c3: '王大明',
						c4: '20',
					},
					{
						c1: '呆收一科',
						c2: '呆收一組',
						c3: '王大明',
						c4: '20',
					},
					{
						c1: '呆收一科',
						c2: '呆收一組',
						c3: '王大明',
						c4: '20',
					},
					{
						c1: '呆收一科',
						c2: '呆收一組',
						c3: '王大明',
						c4: '20',
					},
					{
						c1: '呆收一科',
						c2: '呆收一組',
						c3: '王大明',
						c4: '20',
					},
					{
						c1: '呆收一科',
						c2: '呆收一組',
						c3: '王大明',
						c4: '20',
					},
					{
						c1: '呆收一科',
						c2: '呆收一組',
						c3: '王大明',
						c4: '20',
					},
					{
						c1: '呆收一科',
						c2: '呆收一組',
						c3: '王大明',
						c4: '20',
					},
					{
						c1: '呆收一科',
						c2: '呆收一組',
						c3: '王大明',
						c4: '20',
					}
				]
			}),
			filterable: true,
			sortable: true,
			pageable: true,
			pageable: {
				refresh: false,
			},
			columns: [{
				field: 'c1',
				title: '科別',
				width: 150
			},
			{
				field: 'c2',
				title: '組別',
				width: 200
			},
			{
				field: 'c3',
				title: '經辦姓名',
				width: 200
			},
			{
				field: 'c4',
				title: '戶數',
				width: 150
			},
			]
		});

		function onRadioButtonChanged() {
			var radioValue = $('input[name="action"]:checked').val();
			if (radioValue == '1') {

				//$("#select_cond *").attr("disabled", "disabled").off('click');

				$('#files').data('kendoUpload').disable();

				$("#select_cond").removeClass("disabledbutton");
			} else if (radioValue == '2') {
				$('#files').data('kendoUpload').enable();

				$("#select_cond").addClass("disabledbutton");
			}
		}

		function openDialog() {
			//$('#dialog_apply').removeClass('hidden');

			$("#dialog").data("kendoDialog").open();


			if (window.top.document.querySelector('iframe')) {
				$('.k-dialog').css('top', window.top.scrollY);
			}
		}

		//$("#detail").click(function (e) {
		//	alert('123145');
		//});

		var dialog = $("#dialog").kendoDialog({
			width: "80%",
			height: "700px",
			padding_bottom: "20px",
			top: "0px",
			left: "0px",
			visible: false,
			title: '查詢結果',
			closable: true,
			modal: true,
			//content: content,
			actions: [
				//{ text: 'Cancel' },
				//{ text: 'OK', primary: true, action: actionOK }
			],
			//initOpen: initOpen,
			//open: onOpen
		});

				//open dialog
				//===================================

				//$("#detail").kendoButton({
				//	click: openDialog
				//});






	</script>
}

