﻿
@{
	ViewBag.Title = "Page15";
	Layout = "/Views/Shared/_SimpleLayout.cshtml";
}

<style>
	div.k-tabstrip {
		/*background: #f7f7f7;*/
		background-color: white;
		border-width: 0;
	}

		div.k-tabstrip .k-tabstrip-items {
			padding: 0;
		}

		div.k-tabstrip .k-content {
			margin: 0;
		}

	.k-tabstrip:focus {
		box-shadow: none;
	}

	.row-with-daterange {
		margin-top: 20px;
		margin-right: 10px;
	}
</style>


<div class="edit-form">
	<div style="display:flex; width:100%;">
		<label for="simple-input" class="row-with-daterange">統一編號</label>
		<input id="simple-input" type="text" class="k-textbox row-with-daterange" style="width: 120px;" />

		<label for="simple-input" class="row-with-daterange">PTYID</label>
		<input id="simple-input2" type="text" class="k-textbox row-with-daterange" style="width: 120px;" />

		<label for="simple-input" class="row-with-daterange">帳號</label>
		<input id="simple-input2" type="text" class="k-textbox row-with-daterange" style="width: 120px;" />

		<label class="k-radio-label" for="daterangepicker" style="margin-top:20px; margin-right:20px;">查詢區間</label>
		<div id="daterangepicker" title="daterangepicker" style="right: 0%;"></div>
	</div>

	<div class="btn-area">
		<button class="k-primary k-button"><i class="fa fa-search"></i>&nbsp;查詢</button>
	</div>
</div>

<div id="tabstrip1" style="height: 40%;">
	<ul>
		<li id="li_1" class="k-state-active">
			繳款明細
		</li>
		<li>
			協商繳款資訊
		</li>
	</ul>

	<div>
		<div class="btn-area">
			<button class="k-primary k-button">&nbsp;匯出</button>
		</div>
		<div id="grid"></div>
	</div>
	<div>
		456
	</div>
</div>

	<script>
		$(document).ready(function () {
			$("#daterangepicker").kendoDateRangePicker();
		});

		$(document).ready(function () {
			$("#tabstrip1").kendoTabStrip({
				animation: {
					open: {
						effects: false
					}
				}
			});
		});

		$(document).ready(function () {
			$("#grid").kendoGrid({
				//dataSource: {
				//	type: "odata",
				//	transport: {
				//		read: "https://demos.telerik.com/kendo-ui/service/Northwind.svc/Customers"
				//	},
				//	pageSize: 20
				//},
				//height: 500,
				groupable: false,
				sortable: true,
				reorderable: true,
				resizable: true,
				columnMenu: true,
				filterable: false,
				pageable: false,
				sortable: {
					mode: "multiple",
					allowUnsort: true,
					showIndexes: true
				},
				//toolbar: ['search'],
				//editable: 'inline',
				columns: [{
					field: "c1",
					title: "交易日",
					width: 120
					//locked: true
				}, {
					field: "c2",
					title: "帳號/卡號",
					width: 120
				}, {
					field: "c3",
					title: "產品別",
					width: 120
				}, {
					field: "c4",
					title: "入帳日",
					width: 120
				}, {
					field: "c5",
					title: "登帳日",
					width: 120
				}, {
					field: "c6",
					title: "幣別",
					width: 120
				}, {
					field: "c7",
					title: "交易金額",
					width: 120
				}, {
					field: "c8",
					title: "交易後餘額",
					width: 120
				}, {
					field: "c9",
					title: "交易代碼",
					width: 120
				}, {
					field: "c10",
					title: "交易代碼說明",
					width: 120
				}, {
					field: "c11",
					title: "摘要",
					width: 120
				}, {
					field: "c12",
					title: "狀態",
					width: 120
				}, {
					field: "c13",
					title: "狀態",
					width: 120
				}, {
					field: "c14",
					title: "剔退原因",
					width: 120
				}]
			});

			var grid = $("#grid").data("kendoGrid");

			$("#save").click(function (e) {
				e.preventDefault();
				localStorage["kendo-grid-options"] = kendo.stringify(grid.getOptions());
			});

			$("#load").click(function (e) {
				e.preventDefault();
				var options = localStorage["kendo-grid-options"];
				if (options) {
					grid.setOptions(JSON.parse(options));
				}
			});
		});
	</script>
