﻿
@{
	ViewBag.Title = "Page14";
	Layout = "/Views/Shared/_SimpleLayout.cshtml";
}

<style>
	div.k-tabstrip {
		/*background: #f7f7f7;*/
		background-color: white;
		border-width: 0;
	}

	div.k-tabstrip .k-tabstrip-items {
		padding: 0;
	}

	div.k-tabstrip .k-content {
		margin: 0;
	}

	.k-tabstrip:focus {
		box-shadow: none;
	}

	
	
	/*schedule*/

	#team-schedule {
		background: url('../../img/team-schedule.png') transparent no-repeat;
		height: 115px;
		position: relative;
	}

	#people {
		background: url('../../img/scheduler-people.png') no-repeat;
		width: 345px;
		height: 115px;
		position: absolute;
		right: 0;
	}

	#alex {
		position: absolute;
		left: 7px;
		top: 81px;
	}

	#bob {
		position: absolute;
		left: 121px;
		top: 81px;
	}

	#charlie {
		position: absolute;
		left: 237px;
		top: 81px;
	}
</style>

<div id="tabstrip1">
	<ul>
		<li id="li_1" class="k-state-active">
			排程
		</li>
		<li>
			明細
		</li>
	</ul>

	<div>
		<div class="edit-form">
			<div id="team-schedule">
				<div id="people">
					<input checked type="checkbox" id="alex" aria-label="Alex" value="1">
					<input checked type="checkbox" id="bob" aria-label="Bob" value="2">
					<input type="checkbox" id="charlie" aria-label="Charlie" value="3">
				</div>
			</div>
			<div id="scheduler"></div>
		</div>

		<div class="tb-single-rwd" style="margin-top:30px;">
			<div class="td hd">
				資料來源
			</div>
			<div class="td">
				<select class="dropdownlist">
					<option>選擇常用條件</option>
					<option>選擇常用條件 1</option>
					<option>選擇常用條件 2</option>
				</select>
			</div>
			<div class="td hd">
				常用條件
			</div>
			<div class="td">
				<select class="dropdownlist">
					<option>選擇資料來源</option>
					<option>選擇資料來源 1</option>
					<option>選擇資料來源 2</option>
				</select>
			</div>
			<div class="td">

				@*<input id="simple-input" type="text" class="k-textbox" style="width: 25%; margin-left:25%" placeholder="請輸入條件名稱" />*@
				<button class="k-primary k-button" onclick="openDialog3();"><i class="k-icon k-i-save k-i-floppy"></i>&nbsp;儲存條件</button>
				<div class="k-button k-primary" style="margin-left:30px"><i class="fa fa-trash-alt"></i>&nbsp;刪除條件</div>
			</div>
		</div>

		<div id="grid" style="margin-top: 20px; margin-bottom: 20px;">
			<script>
				$(document).ready(function () {
					$("#grid").kendoGrid({
						//dataSource: {
						//	type: "odata",
						//	transport: {
						//		read: "https://demos.telerik.com/kendo-ui/service/Northwind.svc/Customers"
						//	},
						//	pageSize: 20
						//},
						//height: 500,
						groupable: false,
						sortable: true,
						reorderable: true,
						resizable: true,
						columnMenu: true,
						filterable: {
							extra: false,
							//ui: function (element) {
							//	element.kendoDatePicker({
							//		format: 'yyyy/MM/dd',
							//		culture: 'zh-CHT',
							//	});
							//}
						},
						pageable: false,
						toolbar: ['search'],
						editable: 'inline',
						columns: [{
							field: "c1",
							title: "客戶統一編號",
							width: 120
							//locked: true
						}, {
							field: "c2",
							title: "最後繳款日",
							width: 120
						}, {
							field: "c3",
							title: "國稅查產日",
							width: 120
						}, {
							field: "c4",
							title: "查產",
							width: 120
						}, {
							field: "c5",
							title: "狀態",
							width: 120
						},
						{ command: ["edit"], title: "編輯", width: 100 }]
					});

					var grid = $("#grid").data("kendoGrid");

					$("#save").click(function (e) {
						e.preventDefault();
						localStorage["kendo-grid-options"] = kendo.stringify(grid.getOptions());
					});

					$("#load").click(function (e) {
						e.preventDefault();
						var options = localStorage["kendo-grid-options"];
						if (options) {
							grid.setOptions(JSON.parse(options));
						}
					});
				});
			</script>
			<style>
				#grid .k-grid-content {
					display: none;
					/*height: 0px;*/
				}

				#grid .k-grid-header-wrap {
					overflow-x: scroll;
					height: 100%
				}

				/*#grid1.k-grid-norecords {
						display: none;
					}*/

				#grid .k-grid .k-auto-scrollable {
					height: auto !important;
					overflow-x: visible !important;
				}
			</style>
		</div>

		<div class="btn-area">
			<button class="k-primary k-button"><i class="fa fa-search"></i>&nbsp;查詢</button>
		</div>

		<div class="tb-single-rwd">
			<div class="td" style="text-align:center;">
				<input type="radio" name="action" id="radio1" class="k-radio" onchange="onRadioButtonChanged()" value="1">
				<label class="k-radio-label" for="radio1">即時</label>

				<input type="radio" name="action" id="radio2" class="k-radio" onchange="onRadioButtonChanged()" value="2">
				<label class="k-radio-label" for="radio2">指定</label>
			</div>

			<div class="td">
				<input id="datepicker" value="10/10/2011" title="datepicker" style="" />
			</div>
			<div class="td">
				<input id="timepicker" value="10:00 AM" title="timepicker" style="" />
			</div>
			<div class="td">
				<label for="simple-input">名稱</label>
				<input id="simple-input" type="text" class="k-textbox" style="width: 150px;" />
			</div>
			<div class="td">
				<select class="dropdownlist" placeholder="動作">
					<option>動作</option>
					<option>動作 1</option>
					<option>動作 2</option>
				</select>
			</div>
		</div>

		<div class="btn-area">
			<button class="k-primary k-button">&nbsp;確定</button>
		</div>
	</div>
   


	<div>
		<div class="edit-form">
			<div style="display:flex;">
				<label class="k-radio-label" for="daterangepicker" style="margin-top:20px; margin-right:20px;">執行日區間</label>
				<div id="daterangepicker" title="daterangepicker"></div>

				<select class="dropdownlist" placeholder="動作" style="margin-left:20px; margin-top:20px;">
					<option>動作</option>
					<option>動作 1</option>
					<option>動作 2</option>
				</select>

				<select class="dropdownlist" placeholder="執行狀態" style="margin-left:20px; margin-top:20px; margin-right:20px;">
					<option>執行狀態</option>
					<option>執行狀態 1</option>
					<option>執行狀態 2</option>
				</select>
			</div>


			<div class="btn-area">
				<button class="k-primary k-button"><i class="fa fa-search"></i>&nbsp;查詢</button>
			</div>
		</div>

		<div class="btn-area">
			<button class="k-primary k-button">&nbsp;匯出</button>
		</div>
		<div id="grid_detail" style="margin-top: 20px; margin-bottom: 20px;">
			<script>
				$(document).ready(function () {
					$("#grid_detail").kendoGrid({
						//dataSource: {
						//	type: "odata",
						//	transport: {
						//		read: "https://demos.telerik.com/kendo-ui/service/Northwind.svc/Customers"
						//	},
						//	pageSize: 20
						//},
						//height: 500,
						groupable: false,
						sortable: true,
						reorderable: true,
						resizable: true,
						columnMenu: false,
						filterable: false,
						pageable: true,
						//toolbar: ['search'],
						//dataBound: function () {
						//	for (var i = 0; i < this.columns.length; i++) {
						//		this.autoFitColumn(i);
						//	}
						//},
						columns: [{
							field: "c1",
							title: "執行日期",
							width: 120
							//locked: true
						}, {
							field: "c2",
							title: "執行時間",
							width: 120
						}, {
							field: "c3",
							title: "動作",
							width: 120
						}, {
							field: "c4",
							title: "名稱",
							width: 120
						}, {
							field: "c5",
							title: "條件",
							width: 120
						}, {
							field: "c6",
							title: "筆數",
							width: 120
						}, {
							field: "c7",
							title: "執行狀態",
							width: 120
						}, {
							field: "c8",
							title: "建立人員",
							width: 120
						}, {
							field: "c9",
							title: "建立日",
							width: 120
						}]
					});

					var grid = $("#grid").data("kendoGrid");

					$("#save").click(function (e) {
						e.preventDefault();
						localStorage["kendo-grid-options"] = kendo.stringify(grid.getOptions());
					});

					$("#load").click(function (e) {
						e.preventDefault();
						var options = localStorage["kendo-grid-options"];
						if (options) {
							grid.setOptions(JSON.parse(options));
						}
					});
				});
			</script>
		</div>
	</div>

</div>

<div id="dialog3">
	<div class="k-form-field  ">
		<label class="k-label k-form-label">請輸入條件名稱</label>
		<div class="k-form-field-wrap">
			<input id="query-condiction" type="text" title="欄位名稱" class="k-textbox">
		</div>
	</div>
</div>


<script>

	$('#dialog3').kendoDialog({
		width: "400px",
		height: "200px",
		padding_bottom: "20px",
		visible: false,
		title: "儲存條件名稱",
		closable: true,
		modal: true,
		actions: [
			{ text: '取消' },
			{ text: '儲存', primary: true, action: saveExtraColumn }
		],
	});

	$(document).ready(function () {
		$("#daterangepicker").kendoDateRangePicker();

		// create DatePicker from input HTML element
		$("#datepicker").kendoDatePicker();

		$("#timepicker").kendoTimePicker({
			dateInput: true
		});

	});



	$(document).ready(function () {
		$("#tabstrip1").kendoTabStrip({
			animation: {
				open: {
					effects: false
				}
			}
		});
	});

	$('.dropdownlist').kendoDropDownList({
		placeholder: "Select product",
		optionLabel: {
			text: '請選擇',
			value: ''
		},
	});

	$(function () {
		$("#scheduler").kendoScheduler({
			date: new Date("2013/6/13"),
			startTime: new Date("2013/6/13 07:00 AM"),
			height: 600,
			views: [
				"day",
				{ type: "workWeek", selected: true },
				"week",
				"month",
				"agenda",
				{ type: "timeline", eventHeight: 50 }
			],
			timezone: "Etc/UTC",
			dataSource: {
				batch: true,
				transport: {
					read: {
						url: "https://demos.telerik.com/kendo-ui/service/tasks",
						dataType: "jsonp"
					},
					update: {
						url: "https://demos.telerik.com/kendo-ui/service/tasks/update",
						dataType: "jsonp"
					},
					create: {
						url: "https://demos.telerik.com/kendo-ui/service/tasks/create",
						dataType: "jsonp"
					},
					destroy: {
						url: "https://demos.telerik.com/kendo-ui/service/tasks/destroy",
						dataType: "jsonp"
					},
					parameterMap: function (options, operation) {
						if (operation !== "read" && options.models) {
							return { models: kendo.stringify(options.models) };
						}
					}
				},
				schema: {
					model: {
						id: "taskId",
						fields: {
							taskId: { from: "TaskID", type: "number" },
							title: { from: "Title", defaultValue: "No title", validation: { required: true } },
							start: { type: "date", from: "Start" },
							end: { type: "date", from: "End" },
							startTimezone: { from: "StartTimezone" },
							endTimezone: { from: "EndTimezone" },
							description: { from: "Description" },
							recurrenceId: { from: "RecurrenceID" },
							recurrenceRule: { from: "RecurrenceRule" },
							recurrenceException: { from: "RecurrenceException" },
							ownerId: { from: "OwnerID", defaultValue: 1 },
							isAllDay: { type: "boolean", from: "IsAllDay" }
						}
					}
				},
				filter: {
					logic: "or",
					filters: [
						{ field: "ownerId", operator: "eq", value: 1 },
						{ field: "ownerId", operator: "eq", value: 2 }
					]
				}
			},
			resources: [
				{
					field: "ownerId",
					title: "Owner",
					dataSource: [
						{ text: "Alex", value: 1, color: "#f8a398" },
						{ text: "Bob", value: 2, color: "#51a0ed" },
						{ text: "Charlie", value: 3, color: "#56ca85" }
					]
				}
			]
		});

		$("#people :checkbox").change(function (e) {
			var checked = $.map($("#people :checked"), function (checkbox) {
				return parseInt($(checkbox).val());
			});

			var scheduler = $("#scheduler").data("kendoScheduler");

			scheduler.dataSource.filter({
				operator: function (task) {
					return $.inArray(task.ownerId, checked) >= 0;
				}
			});
		});

		$("#scheduler").kendoTooltip({
			filter: ".k-event:not(.k-event-drag-hint) > div, .k-task",
			position: "top",
			width: 250,
			content: kendo.template($('#template').html())
		});
	});


	function openDialog3() {
		$('#dialog3').data('kendoDialog').open();
	}

	function onRadioButtonChanged() {
		var radioValue = $('input[name="action"]:checked').val();
		if (radioValue == '1') {

			//$("#select_cond *").attr("disabled", "disabled").off('click');

			$('#datepicker').data('kendoDatePicker').enable(false);
			$('#timepicker').data('kendoTimePicker').enable(false);


			//$("#select_cond").removeClass("disabledbutton");
		} else if (radioValue == '2') {
			$('#datepicker').data('kendoDatePicker').enable(true);
			$('#timepicker').data('kendoTimePicker').enable(true);

			//$("#select_cond").addClass("disabledbutton");
		}
	}

	function saveExtraColumn() {
	}

</script>


<script id="template" type="text/x-kendo-template">
	#var element = target.is(".k-task") ? target : target.parent();#
	#var uid = element.attr("data-uid");#
	#var scheduler = target.closest("[data-role=scheduler]").data("kendoScheduler");#
	#var model = scheduler.occurrenceByUid(uid);#

	#if(model) {#
	<strong>event start:</strong> #=kendo.format('{0:d}',model.start)#
	<br />
	<strong>event end:</strong> #=kendo.format('{0:d}',model.end)#
	<br />
	<strong>event description:</strong> #=model.description#
	<br />
	#} else {#
	<strong>No event data is available</strong>
	#}#
</script>