﻿
@{
	ViewBag.Title = "Page7";
	Layout = "/Views/Shared/_SimpleLayout.cshtml";
}


<style>

	.tb-single-rwd > .td.hd {
		width: 10%;
		font-size: 15px;
		padding-top: 3px;
		/*color: #336666;*/
		font-weight: bold;
		/*text-align: left;*/
	}

	.tb-single-rwd {
		padding-left: 10px;
		padding-right: 10px;
	}

		.tb-single-rwd > .td.val {
			font-weight: bold;
			font-size: 15px;
			color: #003D79;
			padding: 0px;
			margin-left: 3px;
			margin-right: 3px;
		}

	div.k-tabstrip {
		/*background: #f7f7f7;*/
		background-color: white;
		border-width: 0;
	}

		div.k-tabstrip .k-tabstrip-items {
			padding: 0;
		}

		div.k-tabstrip .k-content {
			margin: 0;
		}

	.k-tabstrip:focus {
		box-shadow: none;
	}

	.k-panelbar .k-tabstrip-items .k-state-active, .k-tabstrip-items .k-state-active {
		border-color: #007979;
	}

	.k-primary {
		border-color: #007979;
		background-color: #007979;
	}

	.k-grid {
		font-size: 15px;
	}

		.k-grid td {
			overflow: initial;
			overflow-wrap: anywhere;
			/*white-space: nowrap;*/
		}

	#grid-delay1 td {
		white-space: nowrap;
		overflow-x: visible;
	}

	#grid-delay2 td {
		white-space: nowrap;
		overflow-x: visible;
	}

	#grid-delay3 td {
		white-space: nowrap;
		overflow-x: visible;
	}

	/*panelbar
	==========================================*/

	.k-panelbar > .k-item > .k-header {
		background-color: white;
		margin-right: 0px;
		padding-left: 0px;
		width: 95%;
		right: 0;
	}

	.k-icon {
		/*left: 9%;*/
		/*font-size: 15px;*/
		color: black;
	}

	.panelbar li {
		clear: both;
		padding: 10px;
	}

	.panelbar {
		margin-bottom: 3px;
		/*width: 1100px;*/
	}

	.k-panelbar .k-content, .k-panelbar .k-item, .k-panelbar .k-panel {
		border: 0;
	}

	/*dialog header*/
	.k-window-titlebar {
		background-color: #e7fdf9;
	}
</style>



<div id="tabstrip1" style="height: 40%;">
	<ul>
		<li id="li_1" class="k-state-active">
			基本資料
		</li>
		<li>
			關係人
		</li>
	</ul>

	<div>
		<div style="padding-left:1px;padding-right:1px;overflow-x:hidden;">

			<div class="tb-single-rwd result">
				<div class="td hd">統一編號</div>
				<div class="td val">L123456789​</div>
				<div class="td hd">姓名</div>
				<div class="td val">​陳小威</div>
				<div class="td hd">卡行動</div>
				<div class="td val">​0975286321</div>
				<div class="td hd">卡住家電話</div>
				<div class="td val">(02)2768-0357​</div>
			</div>

			<div class="tb-single-rwd result">
				<div class="td hd">CPTYID</div>
				<div class="td val">​123456789</div>
				<div class="td hd">回收等級</div>
				<div class="td val">​高</div>
				<div class="td hd">銀行動</div>
				<div class="td val">​0975286321</div>
				<div class="td hd">銀住家電話</div>
				<div class="td val">​(02)2768-0357000​</div>
			</div>


			<div class="tb-single-rwd result">
				<div class="td hd">客訴重要人士</div>
				<div class="td val">​Y</div>
				<div class="td hd">Subsegment</div>
				<div class="td val">​R3-L1</div>
				<div class="td hd">TBRG</div>
				<div class="td val">​90</div>
				<div class="td hd">在途款</div>
				<div class="td val">​Y</div>
			</div>


			<div class="tb-single-rwd result">
				<div class="td hd">服務單位</div>
				<div class="td val">​中國信託</div>
				<div class="td hd">銀公司電話</div>
				<div class="td val">02)2768-0357​ 分機 86811​</div>
			</div>


			<div class="tb-single-rwd result">
				<div class="td hd">卡帳址</div>
				<div class="td val">台北市114內湖區安康路22巷33號8樓</div>
				<div class="td hd">卡公司電話</div>
				<div class="td val">​(02)2768-0851​ 分機 86811</div>
			</div>

			<div class="tb-single-rwd result">
				<div class="td hd">最近聯絡日</div>
				<div class="td val">​三天前</div>
				<div class="td hd">生日</div>
				<div class="td val">​77/01/01</div>

			</div>

		</div>

	</div>


	<div>
		<div id="grid-realtionship"></div>
		<script>

			$(document).ready(function () {
				$('#grid-realtionship').kendoGrid({
					dataSource: new kendo.data.DataSource({
						data: [
							{
								c1: '卡主機',
								c2: 'A123456789',
								c3: '',
								c4: '',
								c5: '',
								c6: '',
								c7: '',
								c8: '',
								c9: '',
								c10: '',
								c11: '',
								c12: '',
								c13: '',
							},
							{
								c1: '卡主機',
								c2: 'A123456789',
								c3: '',
								c4: '',
								c5: '',
								c6: '',
								c7: '',
								c8: '',
								c9: '',
								c10: '',
								c11: '',
								c12: '',
								c13: '',
							}
						]
					}),
					filterable: false,
					sortable: false,
					columns: [{
						field: 'c1',
						title: '資料來源',
						width: 150
					},
					{
						field: 'c2',
						title: '附卡人/保人/繼承人ID',
						width: 200
					},
					{
						field: 'c3',
						title: '正卡/被保人/繼承人ID',
						width: 200
					},
					{
						field: 'c4',
						title: '關係帳號/副卡卡號',
						width: 150
					},
					{
						field: 'c5',
						title: '主機狀態',
						width: 150
					},
					{
						field: 'c6',
						title: '平台狀態',
						width: 150
					},
					{
						field: 'c7',
						title: '餘額',
						width: 150
					},
					{
						field: 'c8',
						title: '催收員',
						width: 150
					},
					{
						field: 'c9',
						title: '催收員分機',
						width: 150
					},
					{
						field: 'c10',
						title: '案件群組',
						width: 150
					},
					{
						field: 'c11',
						title: '法務案件編號',
						width: 150
					},
					{
						field: 'c12',
						title: '程序別',
						width: 150
					},
					{
						field: 'c13',
						title: '法務案件狀態',
						width: 150
					},
					]
				});
			});

		</script>

		<script>

			$(document).ready(function () {
				$("#tabstrip1").kendoTabStrip({
					animation: {
						open: {
							effects: false
						}
					}
				});
			});

		</script>
	</div>
</div>


<div style="height: 5%; background-color: white; margin-top:10px;">
	@*<div id="tabstrip3" style="height: 40%;">
		<ul>
			<li class="k-state-active">
				帳務資料
			</li>
		</ul>
		<div>*@

	<ul id="panelbar" style="border:0;">

		<li class="k-state-active">
			<span style="color:black; font-size:18px;">
				帳務資料
			</span>

			<div style="padding-bottom:35px;">

				<h2 class="table-tit" style="margin-bottom: 10px; font-size: 16px;"><span>延滯帳務</span></h2>

				<div class="edit-form" style="padding-top:30px; padding-bottom:30px;">

					<div id="grid-delay1" style="margin:0px;"></div>
					<div id="details"></div>
					@*<div id="window_remind"></div>*@
					<script>

						$(document).ready(function () {
							$("#panelbar").kendoPanelBar({
								expandMode: "multiple"
							});
						});

						var wnd

						$(document).ready(function () {
							$('#grid-delay1').kendoGrid({
								dataSource: new kendo.data.DataSource({
									data: [
										{
											c1: "https://google.com/",
											c2: '0000001',
											c3: '小額信貸',
											c4: '467,569',
											c5: '15,013',
											c6: '0',
											c7: '阿貴',
											c8: '63',
											c9: '10',
											c10: '9999/99/99',
											c11: '0800-78578578578578578578',
											c12: '200924GY0001',
											c13: '2020092400001'
										},
										{
											c1: "https://google.com/",
											c2: '0000002',
											c3: '小額信貸',
											c4: '53,792',
											c5: '13,402',
											c6: '0',
											c7: '阿貴',
											c8: '50',
											c9: '10',
											c10: '9999/99/99',
											c11: '0800-95695695695695695695',
											c12: '200924GY0001',
											c13: '2020092400001'
										}
									]
								}),
								//height: 300,
								footer: false,
								filterable: false,
								sortable: false,
								pageable: {
									alwaysVisible: false,
								},
								dataBound: function () {
									for (var i = 0; i < this.columns.length; i++) {
										this.autoFitColumn(i);
									}
								},
								columns: [
									{
										field: 'c2',
										title: '帳號',
										width: 100,
										template: '<a target="_blank" rel="noopener noreferrer" href="#=c1#">#=c2#</a>'
									},
									{
										field: 'c3',
										title: '產品別',
										width: 100
									},
									{
										field: 'c4',
										title: '目前餘額',
										width: 100
									},
									{
										field: 'c5',
										title: '合計',
										width: 80
									},
									{
										field: 'c6',
										title: '總最低應繳',
										width: 120
									},
									{
										field: 'c7',
										title: '催收員',
										width: 80
									},
									{
										field: 'c8',
										title: '延滯天數',
										width: 100
									},
									{
										field: 'c9',
										title: '還款日',
										width: 80
									},
									{
										field: 'c10',
										title: '本期繳款截止日',
										width: 130
									},
									{
										field: 'c11',
										title: '虛擬連結\扣款帳號',
										width: 150
									},
									{
										field: 'c12',
										title: '執行名義歸檔編號',
										width: 150
									},
									{
										field: 'c13',
										title: '法務案件編號',
										width: 150
									},
									{
										command: [{
											name: "ed0",
											className: "k-primary k-button",
											text: "明細",
											click: showDetails
										}], title: "&nbsp;", width: "100px"
									}
								]
							});

							wnd = $("#details").kendoWindow({
								title: "000",
								modal: true,
								visible: false,
								resizable: false,
								width: 300,
								position: {
									top: "15%", // or "100px"
									left: "43%",
								}
							}).data("kendoWindow");
						});

					</script>

					<div class="row" style="margin-top:15px">

						<div class="tb-single-rwd result">
							<div class="td hd">Block code</div>
							<div class="td val">B</div>
							<div class="td hd">週期</div>
							<div class="td val">​20</div>
							<div class="td hd">最近繳款日/金額</div>
							<div class="td val">2014/11/10 10,000</div>

							<div class="td hd">繳款評等</div>
							<div class="td val" style="word-break:break-all;">232323232323</div>
						</div>

						<div class="tb-single-rwd result">
							<div class="td hd">卡自動扣繳帳號</div>
							<div class="td val">​042-232323232323</div>

							<div class="td hd">截止日期</div>
							<div class="td val">2014/11/08​</div>
							<div class="td hd">債清狀態</div>
							<div class="td val">​前置協商V</div>
							<div class="td hd">Mail Flag</div>
							<div class="td val">​0</div>
						</div>

					</div>

					<div id="grid-delay2" style="margin:0px;"></div>
					<script>

						$(document).ready(function () {
							$('#grid-delay2').kendoGrid({
								dataSource: new kendo.data.DataSource({
									data: [
										{
											col1: 'JCIC',
											c1: "https://google.com/",
											c2: '4560007895550000',
											c3: '12,345,678',
											c4: '12,345,678',
											c5: '12,345,678',
											c6: '12,345,678',
											c7: '阿貴貴',
											c8: 'M0',
											c9: '20',
											c10: '',
											c11: '9999/99/99',
											c12: '200924GY0001',
											c13: '2020092400001'
										},
										{
											col1: 'JCIC',
											c1: "https://google.com/",
											c2: '4560007895556663',
											c3: '12,345,678',
											c4: '12,345,678',
											c5: '12,345,678',
											c6: '12,345,678',
											c7: '阿貴貴',
											c8: 'M0',
											c9: '20',
											c10: '',
											c11: '9999/99/99',
											c12: '200924GY0001',
											c13: '2020092400001'
										}
									]
								}),
								//height: 300,
								filterable: false,
								sortable: false,
								resizable: true,
								pageable: {
									alwaysVisible: false
								},
								dataBound: function () {
									for (var i = 0; i < this.columns.length; i++) {
										this.autoFitColumn(i);
									}
								},
								columns: [
									//{
									//	field: 'c1',
									//	title: '卡',
									//	width: 60,
									//	template: '<a target="_blank" rel="noopener noreferrer" href="#=c1#">#=col1#</a>'
									//},
									{
										//field: 'c2',
										title: '卡號',
										width: 150,
										template: '<a target="_blank" rel="noopener noreferrer" href="#=c1#">#=c2#</a>'
									},
									{
										field: 'c3',
										title: '目前餘額',
										width: 90
									},
									{
										field: 'c4',
										title: '帳單金額',
										width: 90
									},
									{
										field: 'c5',
										title: '總計最低應繳',
										width: 120,
										headerTemplate: '<span style="">總計最低應繳</span>'
									},
									{
										field: 'c6',
										title: '本期最低應繳',
										width: 120,
									},
									{
										field: 'c7',
										title: '催收員',
										width: 80
									},
									{
										field: 'c8',
										title: '延滯階段',
										//width: 100
									},
									{
										field: 'c9',
										title: '週期',
										width: 50
									},
									{
										field: 'c10',
										title: 'BLKcode',
										//width: 90
									},
									{
										field: 'c11',
										title: '截止日',
										width: 110
									},
									{
										field: 'c12',
										title: '執行名義歸檔編號',
										width: 150
									},
									{
										field: 'c13',
										title: '法務案件編號',
										width: 150
									},
									{
										command: [{
											name: "ed1",
											className: "k-primary k-button",
											text: "明細",
											click: showDetails
										}], title: "&nbsp;", width: "80px"
									}
								]
							});

						});

					</script>

				</div>
				<div>


					<h2 class="table-tit" style="margin-top:30px;font-size: 16px;"><span>呆帳帳務</span></h2>
					<div>

						<div id="grid-delay3" style="margin:20px; margin-bottom:35px"></div>
						<script>

							$(document).ready(function () {
								$('#grid-delay3').kendoGrid({
									dataSource: new kendo.data.DataSource({
										data: [
											{
												c1: 'E0000001',
												c2: '',
												c3: '1050.00',
												c4: '',
												c5: '',
												c6: '',
												c7: '',
												c8: '',
												c9: '',
												c10: '',
												c11: '',
												c12: '',
												c13: '200924GY0001',
												c14: '2020092400001'
											},
											{
												c1: 'E0000002',
												c2: '',
												c3: '23000.00',
												c4: '',
												c5: '',
												c6: '',
												c7: '',
												c8: '',
												c9: '',
												c10: '',
												c11: '',
												c12: '',
												c13: '200924GY0001',
												c14: '2020092400001'
											}
										]
									}),
									//height: 300,
									filterable: false,
									sortable: false,
									pageable: false,
									pageable: {
										refresh: false
									},
									dataBound: function () {
										for (var i = 0; i < this.columns.length; i++) {
											this.autoFitColumn(i);
										}
									},
									columns: [{
										field: 'c1',
										title: '卡號\帳號',
										width: 150
									},
									{
										field: 'c2',
										title: '產品別',
										width: 100
									},
									{
										field: 'c3',
										title: '應收合計',
										width: 100
									},
									{
										field: 'c4',
										title: '呆帳餘額',
										width: 100
									},
									{
										field: 'c5',
										title: '累積入帳',
										width: 100
									},
									{
										field: 'c6',
										title: '最近繳款日',
										width: 100
									},
									{
										field: 'c7',
										title: '繳款金額',
										width: 100
									},
									{
										field: 'c8',
										title: '催收員',
										width: 100
									},
									{
										field: 'c9',
										title: '案件群組',
										width: 100
									},
									{
										field: 'c10',
										title: '結案日',
										width: 100
									},
									{
										field: 'c11',
										title: '結案原因',
										width: 100
									},
									{
										field: 'c12',
										title: '關係別',
										width: 100
									},
									{
										field: 'c13',
										title: '執行名義歸檔編號',
										width: 150
									},
									{
										field: 'c14',
										title: '法務案件編號',
										width: 150
									},
									{
										command: [{
											name: "ed3",
											className: "k-primary k-button",
											text: "明細",
											click: showDetails
										}], title: "&nbsp;", width: "100px"
									}
									]
								});

							});

						</script>

					</div>
				</div>
			</div>
		</li>
	</ul>
</div>


<div style="background-color: pink; height: 40%; margin-top: 10px;">
	<div class="demo-section k-content">
		<div id="tabstrip2" style="height: 40%;">
			<ul>
				<li class="k-state-active">
					催收紀錄
				</li>
				<li>
					客戶狀況
				</li>
				<li>
					結退案
				</li>
				<li>
					法務資訊
				</li>
			</ul>
			@*催收紀錄*@
			@*===================================================*@
			<div>
				<div class="edit-form">

					<div class="tb-single-rwd result">
						<input type="radio" name="engine" id="radio1" class="k-radio">
						<label class="k-radio-label" for="radio1" style="padding-right:10px">Inhouse</label>

						<input type="radio" name="engine" id="radio2" class="k-radio">
						<label class="k-radio-label" for="radio2" style="padding-right:10px">OA</label>

						<input type="radio" name="engine" id="radio3" class="k-radio">
						<label class="k-radio-label" for="radio3" style="padding-right:10px">CSI</label>

						<input type="radio" name="engine" id="radio4" class="k-radio">
						<label class="k-radio-label" for="radio4" style="padding-right:10px">PTP&CallBack</label>

						@*button and its popup*@
						@*===================================================*@

						@*<div id="result"></div>*@
						<button id="textButton1" class="k-primary k-button" style="margin-left:150px; width:100px; height:30px;">重要提醒</button>
						<div id="wnd_remind" style="padding:40px;">
							<div id="grid_remind"></div>
						</div>
						<button id="textButton2" class="k-primary k-button" style="margin-left:10px; width:100px; height:30px;" onclick="parent.addTab('申請書影像', '/Demo/Page9');">申請書影像</button>
						<button id="textButton3" class="k-primary k-button" style="margin-left:10px; width:100px; height:30px;" onclick="parent.addTab('查找資訊', '/Demo/Page8');">查找資訊</button>
					</div>


					<hr style="height:2px;border-width:0;background-color:lightseagreen">

					<span style="font-weight:bold; font-size:large; color:#CE0000;">客訴及重要情報</span></br>
					<div id="grid_report" style="margin-top:35px"></div>


					<hr style="height:2px;border-width:0;background-color:lightseagreen">

					<i class="far fa-edit">
						<span style="font-weight:bold; font-size:large">特別註記</span><br/>
					</i>
					<div id="grid_insert" style="margin-top: 35px"></div>

					<hr style="height:2px;border-width:0;background-color:lightseagreen">

					<div style="display:flex">
						<i class="far fa-edit">
							<span style="font-weight:bold; font-size:large">催收紀錄</span><br/>
						</i>
						<div style="width:90%; float:right;">
							<button class="k-primary k-button" style="display:inline-block;float:right; margin-left:1%;"><i class="k-i-redo k-icon"></i>&nbsp;下一筆</button>
							<button class="k-primary k-button" style="display:inline-block;float:right;"><i class="k-i-undo k-icon"></i>&nbsp;上一筆</button>
						</div>
					</div>
					<div id="grid" style="margin-top: 35px"></div>
				</div>
			</div>
			@*combobox 客戶狀況*@
			@*=========================================================*@
			<div>
				<div class="edit-form">
					<div class="tb-single-rwd result">
						<div class="td">
							<select id="cb1" placeholder="please choose one" style="width: 90%;">
								<option>呆後備註</option>
								<option>呆後備註1</option>
								<option>呆後備註2</option>
								<option>呆後備註3</option>
								<option>呆後備註4</option>
								<option>呆後備註5</option>
							</select>
						</div>
						<div class="td">
							<select id="cb2" placeholder="please choose one" style="width: 90%;">
								<option>還款態樣</option>
								<option>還款態樣1</option>
								<option>還款態樣2</option>
								<option>還款態樣3</option>
								<option>還款態樣4</option>
								<option>還款態樣5</option>
							</select>
						</div>
					</div>

					<div class="tb-single-rwd result">
						<div class="td">
							<select id="cb3" placeholder="please choose one" style="width: 90%;">
								<option>欠款原因</option>
								<option>欠款原因1</option>
								<option>欠款原因2</option>
								<option>欠款原因3</option>
								<option>欠款原因4</option>
								<option>欠款原因5</option>
							</select>
						</div>
						<div class="td">
							<select id="cb4" placeholder="please choose one" style="width: 90%;">
								<option>還款意願</option>
								<option>還款意願1</option>
								<option>還款意願2</option>
								<option>還款意願3</option>
								<option>還款意願4</option>
								<option>還款意願5</option>
							</select>
						</div>
					</div>

					<div class="tb-single-rwd result">
						<div class="td">
							<select id="cb5" placeholder="please choose one" style="width: 90%;">
								<option>案件類型分析</option>
								<option>案件類型分析1</option>
								<option>案件類型分析2</option>
								<option>案件類型分析3</option>
								<option>案件類型分析4</option>
								<option>案件類型分析5</option>
							</select>
						</div>
						<div class="td">
							<select id="cb6" placeholder="please choose one" style="width: 90%;">
								<option>選擇原因</option>
								<option>選擇原因1</option>
								<option>選擇原因2</option>
								<option>選擇原因3</option>
								<option>選擇原因4</option>
								<option>選擇原因5</option>
							</select>
						</div>
					</div>

					<div class="tb-single-rwd result">
						<div class="td">
							<select id="cb7" placeholder="please choose one" style="width: 90%;">
								<option>選擇原因</option>
								<option>選擇原因1</option>
								<option>選擇原因2</option>
								<option>選擇原因3</option>
								<option>選擇原因4</option>
								<option>選擇原因5</option>
							</select>
						</div>
						<div class="td">
							<select id="cb8" placeholder="please choose one" style="width: 90%;">
								<option>選擇原因</option>
								<option>選擇原因1</option>
								<option>選擇原因2</option>
								<option>選擇原因3</option>
								<option>選擇原因4</option>
								<option>選擇原因5</option>
							</select>
						</div>
					</div>


				</div>
				<div style="text-align:center">
					<div class="k-primary k-button" style="width:100px;height:30px;">儲存</div>
				</div>
			</div>
			@*結退案*@
			@*====================================*@
			<div>
				<div class="edit-form">


					<div class="tb-single-rwd result">
						<div class="td hd">
							<span style="padding-right:20px; font-size:16px">帳號</span>
						</div>
						<div class="td">
							<label>
								<input type="radio" name="engine" id="radio4" class="k-radio">
								<label class="k-radio-label" for="radio1">45622312</label>

								<input type="radio" name="engine" id="radio5" class="k-radio">
								<label class="k-radio-label" for="radio2">45632010</label>

								<input type="radio" name="engine" id="radio6" class="k-radio">
								<label class="k-radio-label" for="radio3">2061231</label>
							</label>
						</div>
						<div class="td">
							@*button and its popup*@
							@*===================================================*@
							@*<div id="dialog"></div>*@
							@*<div id="result"></div>*@
							<button id="textButton4" class="k-primary k-button" style="width:100px; height:30px; margin-left: 70%;">呈核</button>
						</div>
					</div>

					<div class="tb-single-rwd result">
						<div class="tb-single-rwd result">
							<div class="td">
								<select id="cb9" placeholder="please choose one" style="width: 90%;">
									<option>申請結退案</option>
									<option>申請結退案1</option>
									<option>申請結退案2</option>
									<option>申請結退案3</option>
									<option>申請結退案4</option>
									<option>申請結退案5</option>
								</select>
							</div>
							<div class="td">
								<select id="cb10" placeholder="please choose one" style="width: 90%;">
									<option>選擇結退案原因</option>
									<option>選擇結退案原因1</option>
									<option>選擇結退案原因2</option>
									<option>選擇結退案原因3</option>
									<option>選擇結退案原因4</option>
									<option>選擇結退案原因5</option>
								</select>
							</div>
						</div>
					</div>

					<div id="grid-return" style="margin:20px;"></div>
					<script>

						$(document).ready(function () {
							$('#grid-return').kendoGrid({
								dataSource: new kendo.data.DataSource({
									data: [
										{
											id: 1,
											c1: '4563011801603640',
											c2: '信用卡',
											c3: '14,152',
											c4: '申請結案',
											c5: '債減結清',
											c6: '2020/9/10',
											c7: '陳小威',
											c8: '結退案-同意',
											c9: '2020/9/11',
											c10: '201200220',
											c11: '陳小威'
										},
										{
											id: 2,
											c1: '0000002020112520',
											c2: '信貸',
											c3: '122,252',
											c4: '申請結案',
											c5: '債減結清',
											c6: '2020/9/10',
											c7: '陳小威',
											c8: '結退案-同意',
											c9: '2020/9/11',
											c10: '客戶要求不要寄清證',
											c11: '陳小威'
										},
										{
											id: 3,
											c1: '4563011801603640',
											c2: '信用卡',
											c3: '14,152',
											c4: '申請退案',
											c5: '一般退案',
											c6: '2020/9/10',
											c7: '陳小威',
											c8: '結退案-同意',
											c9: '2020/9/11',
											c10: '',
											c11: ''
										}
									],
									schema: {
										model: {
											id: "id",
											fields: {
												c1: { type: "string", editable: false },
												c2: { type: "string", editable: false },
												c3: { type: "string", editable: false },
												c4: { type: "string", editable: false },
												c5: { type: "string", editable: false },
												c6: { type: "string", editable: false },
												c7: { type: "string", editable: false },
												c8: { type: "string", editable: false },
												c9: { type: "string", editable: false },
												c10: { type: "string", editable: true },
												c11: { type: "string", editable: false }
											}
										}
									}
								}),
								//height: 300,
								filterable: false,
								sortable: false,
								pageable: false,
								pageable: {
									refresh: false,
								},
								editable: 'inline',
								selectable: false,
								columns: [{
									field: 'c1',
									title: '帳號',
									width: 160
								},
								{
									field: 'c2',
									title: '產品別',
									width: 80
								},
								{
									field: 'c3',
									title: '呆帳餘額',
									width: 100
								},
								{
									field: 'c4',
									title: '案件終止',
									width: 80
								},
								{
									field: 'c5',
									title: '終止原因碼',
									width: 100
								},
								{
									field: 'c6',
									title: '申請日期',
									width: 100
								},
								{
									field: 'c7',
									title: '申請人員',
									width: 100
								},
								{
									field: 'c8',
									title: '主管核准狀態',
									width: 130
								},
								{
									field: 'c9',
									title: '審核日期',
									width: 100
								},
								{
									field: 'c10',
									title: '清證編號',
									width: 170
								},
								{
									field: 'c11',
									title: '維護人員',
									width: 100
								},
								{ command: ["edit"], width: 100, title: "編輯" }
								]
							});

						});

					</script>

				</div>
			</div>
			@*法務資訊*@
			@*====================================*@
			<div>
				<div class="edit-form">

					<div id="grid_law"></div>

					<script type="text/x-kendo-template" id="template">
						<div class="detailTabstrip">
							<ul>
								<li class="k-state-active">
									Orders
								</li>
							</ul>
							<div>
								<div class="orders"></div>
							</div>
						</div>
					</script>

				</div>
			</div>
		</div>
	</div>

</div>

<script>
	//tab
	//==========================================
	$(document).ready(function () {
		$("#tabstrip").kendoTabStrip({
			animation: {
				open: {
					effects: false
				}
			}
		});

		$("#tabstrip2").kendoTabStrip({
			animation: {
				open: {
					effects: false
				}
			}
		});

		$("#tabstrip3").kendoTabStrip({
			animation: {
				open: {
					effects: false
				}
			}
		});
	});

	//grid_law
	//=============================================

	$(document).ready(function () {
		$("#grid_law").kendoGrid({
			dataSource: new kendo.data.DataSource({
				data: [
					{
						c1: '20111111',
						c2: '強制程序',
						c3: '2020/7/2',
						c4: '執行中'
					},
					{
						c1: '2011113',
						c2: '國稅',
						c3: '2020/6/2',
						c4: '查有'
					},
					{
						c1: '2011115',
						c2: '支付命令',
						c3: '2029/7/2',
						c4: '支確'
					}
				]
			}),
			//height: 550,
			sortable: true,
			pageable: false,
			detailTemplate: kendo.template($("#template").html()),
			detailInit: detailInit,
			dataBound: function () {
				this.expandRow(this.tbody.find("tr.k-master-row").first());
			},
			selectable: false,
			columns: [
				{
					field: "c1",
					title: "案件編號",
					width: "120px"
				},
				{
					field: "c2",
					title: "程序別",
					width: "120px"
				},
				{
					field: "c3",
					title: "申請日",
					width: "120px"
				},
				{
					field: "c4",
					title: "狀態",
					width: "120px"
				}
			]
		});
	});

	function detailInit(e) {
		var detailRow = e.detailRow;

		detailRow.find(".detailTabstrip").kendoTabStrip({
			animation: {
				open: { effects: false }
			}
		});

		detailRow.find(".orders").kendoGrid({
			dataSource: new kendo.data.DataSource({
				data: [
					{
						o1: '20111111',
						o2: '強制程序',
						o3: '2020/7/2'
					},
					{
						o1: '2011113',
						o2: '國稅',
						o3: '2020/6/2'
					},
					{
						o1: '2011115',
						o2: '支付命令',
						o3: '2029/7/2'
					}
				]
			}),
			scrollable: false,
			sortable: true,
			pageable: true,
			selectable: false,
			columns: [
				{ field: "o1", title: "序號", width: "70px" },
				{ field: "o2", title: "標的", width: "110px" },
				{ field: "o3", title: "狀態", width: "300px" }
			]
		});
	}

	//grid_report
	//=============================================

	$(document).ready(function () {
		$("#grid_report").kendoGrid({
			dataSource: new kendo.data.DataSource({
				pageSize: 2,
				data: [
					{
						c1: '2020/08/21',
						c2: '陳情人8/20透過銀行局公文平台陳情,表示於本行婉拒前置協商,要求申請個別協商陳情人8/20透過銀行局公文平台陳情,表示於本行婉拒前置協商,要求申請個別協商陳情人8/20透過銀行局公文平台陳情,表示於本行婉拒前置協商,要求申請個別協商陳情人8/20透過銀行局公文平台陳情,表示於本行婉拒前置協商,要求申請個別協商陳情人8/20透過銀行局公文平台陳情,表示於本行婉拒前置協商,要求申請個別協商陳情人8/20透過銀行局公文平台陳情,表示於本行婉拒前置協商,要求申請個別協商陳情人8/20透過銀行局公文平台陳情,表示於本行婉拒前置協商,要求申請個別協商陳情人8/20透過銀行局公文平台陳情,表示於本行婉拒前置協商,要求申請個別協商',
						c3: "金管會銀行局",
						c4: '謝OO'
					},
					{
						c1: '2020/09/09',
						c2: '品保客訴-陳情人9/8透過銀行局公文平台陳情,表示於本行婉拒前置協商,要求申請各別協商',
						c3: "金管會銀行局",
						c4: '王OO'
					},
					{
						c1: '2020/08/25',
						c2: '品保客訴-陳情人9/8透過銀行局公文平台陳情,表示於本行婉拒前置協商,要求申請各別協商',
						c3: "金管會銀行局",
						c4: '林OO'
					},
					{
						c1: '2020/09/01',
						c2: '陳情人8/20透過銀行局公文平台陳情,表示於本行婉拒前置協商,要求申請個別協商',
						c3: "金管會銀行局",
						c4: '黃OO'
					}
				]
			}),
			//height: 208,
			filterable: false,
			sortable: false,
			pageable: true,
			//selectable: true,
			columns: [
				{
					field: 'c1',
					title: '日期',
					width: 150,
					template: "<span style=\"color:\\#CE0000;\">#=c1#</span>"
				},
				{
					field: 'c2',
					title: '內容',
					width: 500,
					template: "<span style=\"color:\\#CE0000;\">#=c2#</span>"
				},
				{
					field: 'c3',
					title: '來源',
					width: 100,
					template: "<span style=\"color:\\#CE0000;\">#=3#</span>"
				},
				{
					field: 'c4',
					title: '回覆人員',
					width: 80,
					template: "<span style=\"color:\\#CE0000;\">#=c4#</span>"
				}
			]
		});

	});


	//grid_insert
	//=============================================

	$(document).ready(function () {
		$("#grid_insert").kendoGrid({
			dataSource: new kendo.data.DataSource({
				data: [
					{
						c3: '2020/09/11 14:55',
						c4: '特別註記',
						c5: "阿桂",
						c6: 'TEST1'
					},
					{
						c3: '2020/09/11 15:55',
						c4: '特別註記',
						c5: "阿桂",
						c6: 'TEST2'
					}
				]
			}),
			//height: 208,
			filterable: false,
			sortable: false,
			pageable: true,
			selectable: false,
			columns: [
				//{
				//	command: [{
				//		name: "1",
				//		iconClass: "k-icon note-icon-pencil",
				//		text: "",
				//		click: function(e) {
				//			showInsertNote();
				//			return;
				//		}
				//	}], title: "修改", width: "100px"
				//},
				{
					field: 'c1',
					title: '修改',
					width: 80,
					template: "<a style='text-align:center; cursor: pointer; width:100%;' onclick='showInsertNote(\"#=c6#\");'><i class='fas fa-pencil-alt'></i></a>"
				},
				{
					field: 'c3',
					title: '日期',
					width: 140
				},
				{
					field: 'c4',
					title: '種類',
					width: 100
				},
				{
					field: 'c5',
					title: '催收員',
					width: 80
				},
				{
					field: 'c6',
					title: '備註',
					width: 600,
				}
			]
		});

	});


	//grid
	//============================================

	$(document).ready(function () {

		$("#grid").kendoGrid({
			dataSource: new kendo.data.DataSource({
				pageSize: 20,
				data: [
					{
						c3: '2020/09/11 14:55',
						c4: '人工註記',
						c5: "阿桂",
						c6: "TESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTEST"
					},
					{
						c3: '2020/09/11 15:55',
						c4: '人工註記',
						c5: "阿桂",
						c6: 'Out-bond | 行動電話 | 095123456 | 01-本人 | 催收動作碼 | 電話結果-連絡上 | 無意願還款 | TEST'
					},
					{
						c3: '2020/09/12 15:55',
						c4: '人工註記',
						c5: "阿桂",
						c6: 'Out-bond | 行動電話 | 095123456 | 01-本人 | 催收動作碼 | 電話結果-連絡上 | 無意願還款 | TEST'
					},
					{
						c3: '2020/09/13 15:55',
						c4: '人工註記',
						c5: "阿桂",
						c6: 'Out-bond | 行動電話 | 095123456 | 01-本人 | 催收動作碼 | 電話結果-連絡上 | 無意願還款 | TEST'
					},
					{
						c3: '2020/09/14 15:55',
						c4: '人工註記',
						c5: "阿桂",
						c6: 'Out-bond | 行動電話 | 095123456 | 01-本人 | 催收動作碼 | 電話結果-連絡上 | 無意願還款 | TEST'
					},
					{
						c3: '2020/09/15 15:55',
						c4: '人工註記',
						c5: "阿桂",
						c6: 'Out-bond | 行動電話 | 095123456 | 01-本人 | 催收動作碼 | 電話結果-連絡上 | 無意願還款 | TEST'
					},
					{
						c3: '2020/09/16 15:55',
						c4: '人工註記',
						c5: "阿桂",
						c6: 'Out-bond | 行動電話 | 095123456 | 01-本人 | 催收動作碼 | 電話結果-連絡上 | 無意願還款 | TEST'
					},
					{
						c3: '2020/09/17 15:55',
						c4: '人工註記',
						c5: "阿桂",
						c6: 'Out-bond | 行動電話 | 095123456 | 01-本人 | 催收動作碼 | 電話結果-連絡上 | 無意願還款 | TEST'
					},
					{
						c3: '2020/09/18 15:55',
						c4: '人工註記',
						c5: "阿桂",
						c6: 'Out-bond | 行動電話 | 095123456 | 01-本人 | 催收動作碼 | 電話結果-連絡上 | 無意願還款 | TEST'
					},
					{
						c3: '2020/09/19 15:55',
						c4: '人工註記',
						c5: "阿桂",
						c6: 'Out-bond | 行動電話 | 095123456 | 01-本人 | 催收動作碼 | 電話結果-連絡上 | 無意願還款 | TEST'
					},
					{
						c3: '2020/09/20 15:55',
						c4: '人工註記',
						c5: "阿桂",
						c6: 'Out-bond | 行動電話 | 095123456 | 01-本人 | 催收動作碼 | 電話結果-連絡上 | 無意願還款 | TEST'
					},
					{
						c3: '2020/09/21 15:55',
						c4: '人工註記',
						c5: "阿桂",
						c6: 'Out-bond | 行動電話 | 095123456 | 01-本人 | 催收動作碼 | 電話結果-連絡上 | 無意願還款 | TEST'
					},
					{
						c3: '2020/09/22 15:55',
						c4: '人工註記',
						c5: "阿桂",
						c6: 'Out-bond | 行動電話 | 095123456 | 01-本人 | 催收動作碼 | 電話結果-連絡上 | 無意願還款 | TEST'
					},
					{
						c3: '2020/09/23 15:55',
						c4: '人工註記',
						c5: "阿桂",
						c6: 'Out-bond | 行動電話 | 095123456 | 01-本人 | 催收動作碼 | 電話結果-連絡上 | 無意願還款 | TEST'
					},
					{
						c3: '2020/09/24 15:55',
						c4: '人工註記',
						c5: "阿桂",
						c6: 'Out-bond | 行動電話 | 095123456 | 01-本人 | 催收動作碼 | 電話結果-連絡上 | 無意願還款 | TEST'
					},
					{
						c3: '2020/09/25 15:55',
						c4: '人工註記',
						c5: "阿桂",
						c6: 'Out-bond | 行動電話 | 095123456 | 01-本人 | 催收動作碼 | 電話結果-連絡上 | 無意願還款 | TEST'
					},
					{
						c3: '2020/09/26 15:55',
						c4: '人工註記',
						c5: "阿桂",
						c6: 'Out-bond | 行動電話 | 095123456 | 01-本人 | 催收動作碼 | 電話結果-連絡上 | 無意願還款 | TEST'
					},
					{
						c3: '2020/09/27 15:55',
						c4: '人工註記',
						c5: "阿桂",
						c6: 'Out-bond | 行動電話 | 095123456 | 01-本人 | 催收動作碼 | 電話結果-連絡上 | 無意願還款 | TEST'
					},
					{
						c3: '2020/09/28 15:55',
						c4: '人工註記',
						c5: "阿桂",
						c6: 'Out-bond | 行動電話 | 095123456 | 01-本人 | 催收動作碼 | 電話結果-連絡上 | 無意願還款 | TEST'
					},
					{
						c3: '2020/09/29 15:55',
						c4: '人工註記',
						c5: "阿桂",
						c6: 'Out-bond | 行動電話 | 095123456 | 01-本人 | 催收動作碼 | 電話結果-連絡上 | 無意願還款 | TEST'
					},
					{
						c3: '2020/09/30 15:55',
						c4: '人工註記',
						c5: "阿桂",
						c6: 'Out-bond | 行動電話 | 095123456 | 01-本人 | 催收動作碼 | 電話結果-連絡上 | 無意願還款 | TEST'
					},
					{
						c3: '2020/09/31 15:55',
						c4: '人工註記',
						c5: "阿桂",
						c6: 'Out-bond | 行動電話 | 095123456 | 01-本人 | 催收動作碼 | 電話結果-連絡上 | 無意願還款 | TEST'
					},
					{
						c3: '2020/10/01 15:55',
						c4: '人工註記',
						c5: "阿桂",
						c6: 'Out-bond | 行動電話 | 095123456 | 01-本人 | 催收動作碼 | 電話結果-連絡上 | 無意願還款 | TEST'
					},
					{
						c3: '2020/10/02 15:55',
						c4: '人工註記',
						c5: "阿桂",
						c6: 'Out-bond | 行動電話 | 095123456 | 01-本人 | 催收動作碼 | 電話結果-連絡上 | 無意願還款 | TEST'
					},
					{
						c3: '2020/10/03 15:55',
						c4: '人工註記',
						c5: "阿桂",
						c6: 'Out-bond | 行動電話 | 095123456 | 01-本人 | 催收動作碼 | 電話結果-連絡上 | 無意願還款 | TEST'
					},
					{
						c3: '2020/10/04 15:55',
						c4: '人工註記',
						c5: "阿桂",
						c6: 'Out-bond | 行動電話 | 095123456 | 01-本人 | 催收動作碼 | 電話結果-連絡上 | 無意願還款 | TEST'
					}
				]
			}),
			//editable: true,
			toolbar: ["search"],
			filterable: true,
			selectable: true,
			columnMenu: true,
			height: 500,
			sortable: true,
			pageable: {
				numeric: false,
				previousNext: false,
				messages: {
					display: "Showing {2} data items"
				}
			},
			scrollable: {
				endless: true
			},
			editable: {
				mode: 'inline',
			},
			columns: [
				{
					field: 'c1',
					title: '修改',
					width: 80,
					template: "<a style='text-align:center; cursor: pointer; width:100%;' onclick='showInsertNote();'><i class='fas fa-pencil-alt'></i></a>"
				},
				{
					field: 'c3',
					title: '日期',
					width: 140
				},
				{
					field: 'c4',
					title: '種類',
					width: 100
				},
				{
					field: 'c5',
					title: '催收員',
					width: 100
				},
				{
					field: 'c6',
					title: '備註',
					width: 600,
				}
			]
		});

	});

	function showDetails(e) {
		e.preventDefault();
		wnd.open();

		if (window.top.document.querySelector('iframe')) {
			$('.k-window').css('top', window.top.scrollY);
		}
	}

	function showInsertNote(e) {
		parent.toggleAddNote();
	}

	//popup 重要事項
	//=================================================

	$(document).ready(function () {
		//$("#dialog").kendoDialog({
		//	width: "800px",
		//	visible: false,
		//	title: "重要提醒",
		//	closable: true,
		//	modal: true,
		//	actions: [
		//		//{ text: 'Cancel' },
		//		//{ text: 'OK', primary: true, action: actionOK }
		//	],
		//	//initOpen: initOpen
		//});

		wnd_remind = $("#wnd_remind").kendoWindow({
			title: "重要提醒",
			modal: true,
			visible: false,
			resizable: false,
			width: "800px",
			position: {
				top: "20%", // or "100px"
				left: "16%"
			}
		}).data("kendoWindow");

		$("#grid_remind").kendoGrid({
			columns: [
				{ field: "說明" },
				{ field: "日期" },
				{ field: "人員" },
				{ field: "有效日" },
				{ field: "維護人員" },
				{ field: "維護日期" },
				{ command: ["edit", "destroy"] }
			],
			dataSource: {
				pageSize: 10,
				data: [
					{ id: 1, 說明: "要求不要簡訊", 日期: '2020/6/1', 人員: "王小明", 有效日: "2020/01/02", 維護人員: "陳小威", 維護日期: "2020/03/01" },
					{ id: 2, 說明: "辦理紓困", 日期: '2020/8/1', 人員: "王大明", 有效日: "2020/01/02", 維護人員: "陳小威", 維護日期: "2020/03/01" }
				],
				schema: {
					model: {
						id: "id",
						fields: {
							說明: { type: "string"},
							日期: { type: "string"},
							人員: { type: "string" },
							有效日: { type: "string"},
							維護人員: { type: "string"},
							維護日期: { type: "string"}
						}
					}
				}
			},
			toolbar: ["create"],
			editable: 'inline',
			edit: function (e) {
				if (!e.model.isNew()) {
					// Disable the editor of the "id" column when editing data items
					var numeric = e.container.find("input[name=說明]").data("kendoTextBox");
					//alert(e.container.find("input[name=說明]").data("TextBox"));
					//numeric.enable(false);
				}
			},
			selectable: true,
			pageable: true
		});



		$("#textButton1").kendoButton({
			click: openWindow
		});

		//keepDialogTop();
	});

	//function keepDialogTop() {
	//	var ele = $('.k-dialog');
	//	if (ele) {
	//		if (window.top.document.querySelector('iframe')) {
	//			ele.css('top', window.top.scrollY);
	//		}
	//	}

	//	setTimeout(keepDialogTop, 100);
	//}

	$(document).ready(function () {
		setTimeout(openDialogStart(), 50000);
	});

	//function openDialog(e) {
	//	$("#dialog").data("kendoDialog").open();
	//}

	function openWindow(e) {
		wnd_remind.open();

		if (window.top.document.querySelector('iframe')) {
			$('.k-window').css('top', window.top.scrollY);
		}
	}

	function openDialogStart(e) {
		wnd_remind.open();
	}








	//conbobox 客戶狀況
	//==========================================

	$("#cb1").kendoComboBox();
	$("#cb2").kendoComboBox();
	$("#cb3").kendoComboBox();
	$("#cb4").kendoComboBox();
	$("#cb5").kendoComboBox();
	$("#cb6").kendoComboBox();
	$("#cb7").kendoComboBox();
	$("#cb8").kendoComboBox();
	$("#cb9").kendoComboBox();
	$("#cb10").kendoComboBox();

</script>



